[2017-09-18 20:18] HellboyPI opened #1 "Dailymotion"
Hello! Thank you for your effort!
Possible problems:
s2.dmcdn.net, static2.dmcdn.net - blocks thumbnail images of the videos on [dailymotion.com](http://www.dailymotion.com/)
lx1.dyncdn.cc - blocks movie/tv cover images on [1337x.to](http://1337x.to/home/)
vid3.ec.dmcdn.net -  I've found this domain also in your list. Not sure what type of videos it blocks on dailymotion. Ads-videos? Could be a fa

[2017-09-18 23:09] HellboyPI commented on #1
player.ooyala.com - The [Ooyala Player](http://www.ooyala.com/resources/video-player). Example, used on accuweather.com to play [videos](https://www.accuweather.com/en/videos/).

[2017-09-19 08:37] anudeepND commented on #1
Hi there! Thanks for reporting. I removed
`player.ooyala.com`
`s1.yimg.com`
`s2.dmcdn.net`
`s.yimg.com`
`static2.dmcdn.net`
`vid3.ec.dmcdn.net`
`api.dailymotion.com`

Now yahoo.com, dailymotion.com and AccuWeather videos works fine.
Update your adlist to apply the changes.

[2017-09-19 10:53] anudeepND commented on #1
Images on 1337x.to loads with `lx1.dyncdn.cc`

![screenshot_2017-09-19-16-02-41-224_com android chrome](https://user-images.githubusercontent.com/26179946/30589103-bbec3b12-9d56-11e7-8177-4f7138b833d1.png)

![screenshot_2017-09-19-16-02-51-858_com android chrome](https://user-images.githubusercontent.com/26179946/30589104-bc29ab32-9d56-11e7-9ca7-72c40edd3877.png)

[2017-09-19 15:09] HellboyPI commented on #1
api.ipify.org , dl.dropboxusercontent.com , login.live.com , m.hotmail.com , msftncsi.com , pricelist.skype.com , s.gateway.messenger.live.com , ui.skype.com

These domains (so far) are on your adservers list and on your whitelist. Is this intentionally, or? To avoid confusion, it would be good to remove the false positives from the adservers list.

[2017-09-19 16:25] anudeepND commented on #1
I removed them, most of the Microsoft related sites were added without checking by [this](https://github.com/anudeepND/adservers/commit/be35995b09ee93851a57bed36d52f435f4ac0cfb#diff-cc22cd07c68c578554231f7e53fe7de8) commit.

[2017-09-21 17:24] anudeepND commented on #1
@HellboyPI  Thanks again for finding out these domains!

[2017-09-21 17:24] #1 closed

[2017-10-19 16:09] IanOliver opened #2 "symcb.com Domains Prevent Symantec Certificate Revocation Checking"
Currently symcb.com is included in the wildcard file, but blocking this whole domain and its subdomains prevents HTTPS certificate revocation status checking in Chrome, resulting in HTTPS/certificate errors.

gp.symcb.com and tn.symcb.com are also included in the adservers file. I cannot yet confirm if these are used for certificate purposes or something else, but I managed to fix the issue by rem

[2017-10-19 16:32] anudeepND commented on #2
@IanOliver Thanks for reporting :) Removed domains related to symcb.com from both the files. Let me know if you face any problems with the list.

[2017-10-19 16:37] IanOliver commented on #2
@anudeepND No problem, thanks for the list :)

[2017-10-19 16:47] anudeepND commented on #2
If you are blocking millions of domains with pi-hole, (whitelist)[https://github.com/anudeepND/whitelist] file might come in handy...

[2017-10-20 04:23] #2 closed

[2017-10-27 11:14] notracking opened #3 "false positives"
Hi there,

I've been looking into adding your list to my auto updated dnsmasq filter, though I found quite a lot of possible false calls.

You might want to consider removing the following items:

vmall.com
taobao.com
toplinkxchange.com
shellcat.ru
sigidwiki.com
jappy.tv
kingsoft.com
skyrock.mobi
skyrock.net
pwnews.net
rusnext.ru
nianticlabs.com
nikopik.com
nordpresse.be
nrj.fr
minimilitiahackchea

[2017-10-28 08:10] anudeepND commented on #3
@notracking Thanks for reporting!

[2017-10-30 04:00] #3 closed

[2017-12-27 19:05] MustardCat opened #4 "Two pushbullet.com sub domains are blacklisted"
A couple of sub domains for PushBullet (software to mirror notifications to computers/other devices) are listed in adservers.txt and are false positives.

- api.pushbullet.com
- widget.pushbullet.com

I'm not sure what the widget sub domain is used for, but the api sub domain is required for the software to work

[2017-12-28 03:11] anudeepND commented on #4
@MustardCat Thanks for reporting :)

[2017-12-28 03:11] #4 closed

[2018-01-17 21:09] Flyhalf205 opened #7 "Ubiquiti/Cisco Support sites"
https://community.ubnt.com/ uses this domain for its CSS layout. With it blocked the layout is jacked.

- ubnt.i.lithium.com

Also cisco support forums uses this for its CSS layout which is also on this list.

- kxiwq67737.i.lithium.com

There is probably more support sites but I use these two regular

[2018-01-18 08:26] anudeepND commented on #7
@Flyhalf205 Thanks for reporting, I think I have to remove all lithium.com subdomains, I too faced some issues on other sites.
I'm currently out of station, I'll review it in 48hrs

[2018-01-19 16:57] anudeepND commented on #7
Removed legit domains https://github.com/anudeepND/blacklist/pull/8
@Flyhalf205  Is this issue resolved for you?

[2018-01-20 15:34] Flyhalf205 commented on #7
Yes.

Now having a problem with the Facebook app which I'm currently tracking which host it is.

[2018-01-20 15:34] #7 closed

[2018-01-21 04:59] anudeepND commented on #7
It was `graph.facebook.com`
Removed it https://github.com/anudeepND/blacklist/commit/044235b329e44f2560888eb105f86a6ae37d34aa

[2018-01-21 05:00] anudeepND commented on #7
Check out https://github.com/anudeepND/whitelist for commonly whitelisted domains

[2018-02-02 21:29] eugf opened #9 "Embedded Tweet widgets being blocked"
This domain on your blacklist cdn.syndication.twimg.com seems to target the widgets used on sites to embed Tweets.

For reference, this is the site I noticed it on
http://www.iflscience.com/environment/truck-driver-ignored-signs-and-drove-across-perus-2000yearold-nasca-lines/

And I narrowed it down with the help of this forum
https://support.mozilla.org/en-US/questions/1189443?page=2
Specifically

[2018-02-03 04:19] anudeepND commented on #9
@eugf Thanks for reporting :)
Removed both `syndication.twitter.com` and `cdn.syndication.twimg.com`

[2018-02-03 17:24] eugf commented on #9
Thanks anudeepND!

In my testing of explicitly whitelisting ` cdn.syndication.twimg.com` and blacklisting `syndication.twitter.com` I got the Twitter widget to display, but not the other way around.

Do you know what `syndication.twitter.com` does? A quick Google around shows that it may be a redirect for some kind of malware:
https://forums.malwarebytes.com/topic/198133-syndicationtwittercomijot-

[2018-02-04 07:04] anudeepND commented on #9
I think it's kind of tracking domain, but it's not present in any other blacklist. I will add it again.

[2018-02-04 17:55] eugf commented on #9
With your hint, I found these after filtering out all the malware results
https://blog.twitter.com/marketing/en_us/a/2015/promote-content-on-and-off-twitter-now-syndicating-promoted-tweets.html
https://blogs.wsj.com/cmo/2015/02/12/marketing-world-says-meh-to-twitters-ad-syndication-initiative/

Seems to be a paid ad service, which sounds like a Promoted ad on Google, except that it shows up off th

[2018-02-04 17:55] #9 closed

[2018-07-24 13:02] lightswitch05 opened #12 "Blocking tools.google.com breaks Chrome updates"
Hello and thank you for this great list. I've found that blocking `tools.google.com` in `adservers.txt` breaks google chrome updates. This is unfortunate since I love blocking Google and avoid Chrome whenever possible - but unfortunately it is required for some sites and having an out-of-date version is a big security problem. Anyways, I've whitelisted it on my side, so no real problem, just thoug

[2018-07-24 13:16] anudeepND commented on #12
@lightswitch05 Thanks for the information I will remove it ASAP

[2018-07-24 14:48] anudeepND commented on #12
@lightswitch05 Done. Thanks for the input

[2018-07-24 15:06] #12 closed

[2018-08-03 21:56] ghost opened #13 "3gppnetwork comprhensive domains list"
I've noticed my cellphone performing requests to _epdg.epc.mncXXX.mccXXX.pub.3gppnetwork.org_ which was not present in your list. So I decided to script a DNS lookup on all the possible subdomain combination on 3gppnetwork.org

[code]

Hopefully this can be easily adjusted to cover many other ad-network.
Obviously the ad-network is able to enable/disable any subdomain not picked up today. In that

[2018-08-04 13:13] anudeepND commented on #13
@havoc88 Thanks for the information. But do you have any info on what is`3gppnetwork.org`? I don't know whether it's a tracker or not, if you have any info on this I will include all these domains in my host file

[2018-08-09 12:59] lightswitch05 opened #14 "Possible false positives for mozilla"
Hello Anudeep,

Thank you for providing this great blocklist. I do have a question about a couple Mozilla domains:

### blocklists.settings.services.mozilla.com

This URL is used by Firefox and Thunderbird to ban extensions that cause a security threat against its users. More information about how the blocklist works can be found [in this FAQ](https://support.mozilla.org/en-US/kb/add-ons-cause-iss

[2018-08-09 17:16] anudeepND commented on #14
@lightswitch05 Thanks for the information. Really appretiate your help man :)

[2018-08-09 17:16] #14 closed

[2018-08-09 17:26] lightswitch05 commented on #14
@anudeepND have you ever tried to get this list included in Steven Black's project?

[2018-08-09 19:18] anudeepND commented on #14
@lightswitch05 Actually no, but I would love to do that...

[2018-08-10 12:51] lightswitch05 commented on #14
@anudeepND submit a pull request and see what he says. Here is my old pull request if you want an example of what to include: https://github.com/StevenBlack/hosts/pull/633

[2018-08-11 02:49] anudeepND commented on #14
@lightswitch05 thanks for the reference PR, one quick question, how do you deal with the duplicates? Currently what I that is do is that I keep on adding the domains and once (or twice) a month I remove the duplicates.

[2018-08-11 11:15] lightswitch05 commented on #14
I don't currently do anything about duplicates. I'll search his list before adding something to mine, but if duplicates get added, I've never  removed any entries

[2018-08-17 23:42] Cronus89 opened #15 "www.cloudflare.com blocked"
see title

[2018-08-18 10:39] anudeepND commented on #15
@Cronus89 Thanks for the info. I will look into it

[2018-08-18 10:53] #15 closed

[2018-08-21 12:50] WaLLy3K opened #16 "Vice static content blocked"
As per [this tweet](https://twitter.com/Gabry89/status/1031849443358912512): `vice-web-statics-cdn.vice.com` is blocked by your blocklist, and causes www.vice.com to not load content such as pictures.

Cheers :smile:

[2018-08-21 13:04] anudeepND commented on #16
@WaLLy3K Thanks for reporting. It is now removed :)

[2018-08-21 13:04] #16 closed

[2018-08-28 16:08] privatehub38571 opened #17 "Remove our site."
We do not have a coin miner anymore. Even when we did, it was opt-in and didn't start unless you wanted it to.

If you are going to maintain this list, you need to review the sites better before adding them.

www.goodolddownloads.com

Thanks,
GOD

[2018-08-29 02:28] #17 closed

[2018-09-19 02:37] Retia-Adolf opened #18 "g.alicdn.com blocked"
This rule `||g.alicdn.com^` that simply blocking makes site `taobao.com` broken. It's unnecessary since similar but more precise rules are exist in `Easylist China` etc..

[2018-09-19 10:02] anudeepND commented on #18
@Retia-Adolf thanks for reporting, I will remove it once I reach home.

[2018-09-24 13:27] anudeepND commented on #18
@Retia-Adolf Sorry for the delay, it's now removed

[2018-09-24 13:27] #18 closed

[2018-10-06 16:22] funilrys opened #19 "[Info] Reference"
Hello @anudeepND  ,

Because I want to be transparent, I just wanted to inform you that we added your hosts file to [Ultimate.Hosts.Blacklist](https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist) through [Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server](https://github.com/Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server).

Cheers,
Nissar

P.S: Feel free to close/comment after r

[2018-10-06 16:53] anudeepND commented on #19
@funilrys This is great! I'm happy that you considered my list. If you find any false positives I will remove it. Thanks again :)

[2018-10-06 17:07] dnmTX commented on #19
@anudeepND  [Ultimate.Hosts.Blacklist](https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist) is filtering against dead/invalid domains not false positives.You can use it(once it's filtered) to update your database every week or so.This way there will be no "dead weight",it's super handy.

[2018-10-06 17:07] funilrys commented on #19
Hi @anudeepND, glad to hear that!

It's already there ==> https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist/blob/master/templates/README_template.md#credits--thanks

No action is needed from your side. Our next compilation (or run if you prefer) is in about 21 hours. So you'll be in the `README.md` in about 21 hours :smile_cat:

Have a nice day/night!

Cheers,
Nissar

[2018-10-08 05:28] #19 closed

[2018-10-09 17:51] dnmTX opened #20 "[false-positive] *.webclicks24.com"
@anudeepND  those domains among setting up cookies,tracking/telemetry(i assume) also deliver images and blocking them entirely results in some web pages being broken up(porn sites mostly but still...).I believe in such a domains it's good to let the AdBlockers to take over and do the job as they can whitelist/block whatever it's needed.Would advise to whitelist them.Thank you.

Screenshot from my

[2018-10-09 19:37] dnmTX commented on #20
Thanks @anudeepND ,i just started using your lists once got filtered by **Ultimate-Hosts-Blacklist** so if there is anything else i'll let you know.I'm just curious.What did you focused on(mobile or...regular PC) and the location(is it US mostly or...?)

[2018-10-10 02:06] anudeepND commented on #20
I included many of the ad companies present in my country (India). But I'm more focused on regional websites, torrenting sites and free mp3 download sites.
I was able to blacklist many nasty domain which were not present in any popular host files, I run my Pi-hole with several people using it (~over 100,000 DNS request each day). Occasionally I check the popular Android apps (Both in India and Glo

[2018-10-18 23:33] dnmTX opened #21 "[false-positive] s.aolcdn.com"
@anudeepND  this domain delivers images and blocking it just cripples some web pages.As seen here:
https://www.autoblog.com/2018/10/18/2018-audi-r8-v10-plus-competition-package/

![capture](https://user-images.githubusercontent.com/34774426/47195618-4680e000-d322-11e8-80c0-3919c0727d54.PNG)

[2018-10-22 05:31] anudeepND commented on #21
@dnmTX Sorry for the late response. It's been removed.

[2018-10-22 05:32] #21 closed

[2018-10-22 18:03] anudeepND commented on #21
@dnmTX I agree. Good find though +1

[2018-11-15 02:16] yegors opened #22 "Bing blocked"
The following end up blocking a lot of sites, bing being one of them.
[code]

[code]

[2018-11-15 02:44] dnmTX commented on #22
@yegors are you sure,cause i'm using @anudeepND's lists as well and the same domains are blocked on my end and i can assure you that `www.bing.com` is opening just fine here.

You mind giving more examples cause so far your claims are unsupported to say the least.

[2018-11-15 02:54] yegors commented on #22
They appear in the master branch: https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt

[2018-11-15 03:07] dnmTX commented on #22
@yegors never mind,i just saw that you're in Canada.
@anudeepND search in StevenBlack's issues for the same problem,from what i can remember Steven is based out of Canada and he was unable to access `bing.com`.Probably the domain in question was the culprit there as well(he ended up removing all the Microsoft's telemetry domains because of it).

[2018-11-16 13:36] anudeepND commented on #22
@yegors Is there any other services affected?

[2018-11-20 16:41] #22 closed

[2018-11-30 14:12] Z-13 opened #24 "Instagram ads"
What about the instagram's ads?
How can blocking them?

[2018-11-30 16:08] anudeepND commented on #24
@Z-13 Instagram serves both ads and useful content like pictures and videos from the same domain. Meaning blocking ads will block useful content also.

[2018-12-06 14:38] lightswitch05 opened #25 "js.braintreegateway.com is a payment processing host"
Hello,

`js.braintreegateway.com` is used for payment processing. BrainTree is a PayPal owned company that provides credit-card processing forms for any commercial business. More can be read about their JavaScript SDK here: https://developers.braintreepayments.com/start/hello-client/javascript/v3.

By blocking this script, any website that uses BrainTree's SDK for credit card processing will fail,

[2018-12-06 15:15] anudeepND commented on #25
@lightswitch05  Thanks for reporting the domain, it's now removed https://github.com/anudeepND/blacklist/commit/463f8dd38546f11487b099c12e86575b41751734
Happy holidays :)

[2018-12-06 15:15] #25 closed

[2018-12-07 23:54] dnmTX opened #26 "[false-positive] dt.azadicdn.com"
Here is a link to show the problem and as you can see the whole web page's icons,css etc. coming from that domain and therefore the page is all broken up:
https://dottech.org/167885/how-to-add-more-options-to-right-click-menu-in-chrome-tip/

[2018-12-08 04:36] anudeepND commented on #26
Can confirm. I removed `dt.azadicdn.com` https://github.com/anudeepND/blacklist/commit/9856c68d969e7aea786c2e52f0644e7a59e40c4c
Thanks for reporting @dnmTX

[2018-12-08 04:36] #26 closed

[2018-12-08 04:37] #24 closed

[2018-12-08 04:46] dnmTX commented on #26
Anytime 👍

[2018-12-18 22:50] dnmTX opened #27 "[important] invalid/misspelled domains"
@anudeepND  i was checking on the filtering progress on your lists in Ultimate-Hosts-Blacklist and there is a section for [INVALID Domains](https://github.com/Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server/blob/master/output/hosts/INVALID/hosts) which already has bunch of them listed.Some are misspelled,some has space in between,some are just nonexistent. Would advise to take a look and fi

[2018-12-19 01:21] anudeepND commented on #27
@dnmTX Thanks for noticing me, I never looked at Invalid domain list at Ultimate-Hosts-Blacklist, I removed those domains from the host file https://github.com/anudeepND/blacklist/commit/1407e6a473d2f5aeafce691178229bc3e9923dd7

[2018-12-19 02:00] dnmTX commented on #27
@anudeepND  glad to help.I guess i can close this as you already fixed it. Just for the feature,check from time to time for any invalid domains there,looks like @funilrys's script doing excellent job finding them.
Closing....

[2018-12-19 02:11] anudeepND commented on #27
@dnmTX yes, will do.

[2018-12-19 04:41] dnmTX commented on #27
@anudeepND  unfortunately you missed some.Here is a list with some comments(let's hope i got them all this time):

0.0.0.0 2 ml.pubnative.net    **-i think on those three you just need to remove the "2"**
0.0.0.0 2 p.skimresources.com
0.0.0.0 2 script.crazyegg.com

0.0.0.0 3 i.skimresources.com  **-same as above but "3"**
0.0.0.0 3 t.skimresources.com

0.0.0.0 adbemdigitalmediarebootp rod2.112.2o7

[2018-12-19 05:11] anudeepND commented on #27
@dnmTX I think there are a lot of them, I need to take a closer look. I was using Sublist3r sub domain scanner, all these invalid domain are came for the domains obtained by Sublist3r, I didn't verified each and every one of them, so they ended up in the final list. I will them as soon as I find them

[2018-12-23 06:42] anudeepND commented on #27
@dnmTX I have removed most of the entries, there maybe some invalid entries present in the list. I will keep this issue open for a while.Thanks for reporting

[2018-12-26 23:22] abrasive-blueberry opened #28 "c.tadst.com blocked"
Hi Anudeep,

Please can you remove the domain c.tadst.com from your blocklist, as it is preventing some legitimate content on timeanddate.com from working (logos and maps not loading).

Best regards

[2018-12-27 07:18] anudeepND commented on #28
@abrasive-blueberry Thanks for reporting, it is now removed https://github.com/anudeepND/blacklist/commit/34be82892aa92c16fa3bef19cd3690aefe46bcd7

[2018-12-27 07:18] #28 closed

[2019-01-02 17:05] funilrys commented on #27
Hi @anudeepND thanks for using the results of PyFunceble!

@dnmTX as we constantly retest them in case I update/change PyFunceble because of a new RFC or another new web/DNS practice, I don't think that it is a good idea to remove the `INVALID` elements from the database.

[2019-01-02 17:22] dnmTX commented on #27
@funilrys  @anudeepND  ** HAPPY NEW YEAR GUYS **
@funilrys  i got your point but it makes me wonder what good are they doing in a folder that is design to collect invalid domains that came from the original lists during filtering.In our case here they're no longer present there(in the orig. lists).Maybe a sub folder for collecting a "old,no longer present invalid domains"? So they can pile up ther

[2019-01-02 17:49] funilrys commented on #27
@dnmTX Happy New Year!!

Right, will create a new issue for tracking that :+1:

[2019-01-03 04:07] anudeepND commented on #27
@funilrys I understand, the domains I removed in the last commit was just demo sites, sftp, ftp domains related to the their company and jira bug tracking sites. If removed legit domains, I will recheck and add it to the list if necessary.
@dnmTX @funilrys Happy new year guys!

[2019-01-17 17:27] dnmTX opened #30 "[false positive] windows update domains"
@anudeepND  currently you have three domains listed that would interfere with windows update:
`statsfe1.ws.microsoft.com`
`statsfe2.update.microsoft.com.akadns.net`
`statsfe2.ws.microsoft.com`

This is based out of [@crazy-max's lists](https://github.com/crazy-max/WindowsSpyBlocker/blob/master/data/hosts/update.txt) which is very accurate and curated frequently . Please check if there are more jus

[2019-01-17 18:58] anudeepND commented on #30
@dnmTX hmmm🤔 Windows 10 updates are working fine for me. I updated my laptop to 1809 build, if I remember correctly pi-hole logs didn't had these domains. Anyways I will look into it

[2019-01-17 19:42] dnmTX commented on #30
@anudeepND  windows update is working here too,just sometimes it's like getting stuck on download for 20 or so min. and the resumes.My best guess is that it's trying to fetch the updates from blocked by me domain but there is no way to confirm my theory at the present.
Those listed above domains were moved at one point by @crazy-max from his tracking/telemetry lists to the update lists.I'm guessin

[2019-01-18 20:37] dnmTX commented on #30
Found this as a reference,at least kind of explains what is the purpose of those domains:
https://www.wilderssecurity.com/threads/windows-update-statistics.362384/

[2019-01-19 15:04] dnmTX opened #31 "duplicate entries in adservers.txt"
@anudeepND  found that you have some duplicates.Listing them here so you can remove them:
`b.scorecardresearch.com`
`cdn.teads.tv`
`i.skimresources.com`
`ml.pubnative.net`
`p.skimresources.com`  **-this one has 3 entries**
`trk.vidible.tv`
`t.skimresources.com`
`p.adsymptotic.com`
`nqs-lw3.youboranqs01.com`
`nqs-nl-c6-c2.youboranqs01.com`
`nqs-nl1-c2.youboranqs01.com`
`nqs-nl2.youboranqs01.com`

C

[2019-01-20 04:53] anudeepND commented on #30
What do you think @dnmTX? Remove them or leave them as it is?

[2019-01-20 04:53] anudeepND commented on #31
@dnmTX Thanks, I will remove them ASAP

[2019-01-20 05:21] dnmTX commented on #30
Let's leave them for now.I changed my router and the firmware is kind of buggy,waiting on update from the developers.Once i got it stable i'll be able to monitor what's coming in and out.So far all that is just theory as i couldn't even find any official documentation what all those domains do. If i have proof we'll remove them.No rush on this one,as i said already windows update is working.
Closi

[2019-01-20 05:21] #30 closed

[2019-01-21 03:00] dnmTX commented on #31
On another note:
![capture](https://user-images.githubusercontent.com/34774426/51450441-6693b700-1cf6-11e9-9dfc-2d25631479f3.PNG)

[2019-01-21 05:47] dnmTX commented on #31
Hmm...well,you remember i mentioned that i'm getting your list from the [clean.list](https://github.com/Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server/blob/master/clean.list) aaand for some reason it's not there which is kind of a concern.Now i wonder what else is not there.
I'll open a issue there and hopefully @funilrys will be able to figure it out.
Sorry about bothering you here,should

[2019-01-23 14:55] dnmTX commented on #31
@anudeepND  just a question,but i was wondering did you ever consider removing the duplicates that are present in StevenBlack's lists.From my point of view,at least on my end your lists here is used as a addition to Steven's,but i'm not sure about anyone else.

[2019-01-29 14:57] anudeepND commented on #31
@dnmTX Actually I started adding domains that were missing in Steven's list and then I started every bad domain and I think there are like ~50% unique domain compared to Steven's list.

[2019-01-29 15:38] dnmTX commented on #31
They're actually close to 98% unique. Last time i checked,you had around 1000-1500 duplicates out of 30,000+. I was just curious what you think,that's all.

[2019-01-29 17:15] anudeepND commented on #31
Oops...my bad

[2019-01-29 17:18] anudeepND commented on #31
Duplicates were removed here https://github.com/anudeepND/blacklist/commit/759657328596d733af51847afd1999487a0d07e7 I did not double checked it though..

[2019-01-29 19:15] dnmTX commented on #31
One left(missed): `p.skimresources.com` and that's it. Good job 👍

P.S. Once removed you can finally close this 😉

[2019-02-04 16:19] #31 closed

[2019-02-16 04:07] chado99 opened #32 "Additional innovid domain"
ag.innovid.com
Missing from current list of domains.

 Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:
   cdn.innovid.com
   rtr.innovid.com
   s.innovid.com
   s-static.innovid.com
   dts.innovid.com
   innovid.com
 Match found in http://sysctl.org/cameleon/hosts:
   dts.innovid.com
   rtr.innovid.com
   s-static.innovid.com
   s.innovid.com
 Match found in https:

[2019-02-16 04:25] dnmTX commented on #32
@chado99  off topic here but just to point out.Consider dropping the Cameleon List due to:
After removing all the DEAD Domains and filtering duplicates against StevenBlack's lists you are left with
approximately 7000 (maybe less) domains out of....what...30.000-ish?
Whoever was maintaining that lists is long gone and most of the domains are already added to other lists anyway. This is what i did o

[2019-02-16 04:29] chado99 commented on #32
Good tip.

[2019-02-16 10:46] beerisgood opened #33 "dmd.metaservices.microsoft.com"
dmd.metaservices.microsoft.com is false positive in your list.
It's just used for device metadata: https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1809-endpoints

[2019-02-16 11:22] beerisgood opened #34 "settings.data.microsoft.com"
settings.data.microsoft.com is false positive:
The following endpoint is used as a way for apps to dynamically update their configuration. Apps such as System Initiated User Feedback and the Xbox app use it. If you turn off traffic for this endpoint, an app that uses this endpoint may stop working.

https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1809-endpoints

[2019-02-20 15:17] anudeepND commented on #34
Thanks @beerisgood

[2019-02-20 15:17] #34 closed

[2019-02-20 15:17] anudeepND commented on #33
Thanks @beerisgood

[2019-02-20 15:17] #33 closed

[2019-02-20 15:21] anudeepND commented on #32
Thanks @chado99

[2019-02-20 15:21] #32 closed

[2019-02-20 21:39] ZeroDot1 opened #35 "Stop BullGuard Ads"
[code]

[2019-02-23 10:23] anudeepND commented on #35
Thanks @ZeroDot1
https://github.com/anudeepND/blacklist/commit/9fbaf178ccae48c9e51531f54f2d1b5c0afbb56b

[2019-02-23 10:23] #35 closed

[2019-02-24 17:17] Laicure opened #36 "Parse Error on my app"
Hello,

I just want to report this two:

![1](https://user-images.githubusercontent.com/8619566/53302607-e2a39080-389a-11e9-9099-62e614857828.PNG)
![2](https://user-images.githubusercontent.com/8619566/53302608-e2a39080-389a-11e9-92a9-a4b866c61bf0.PNG)

Two domains in one line or... are those intentional?

Thanks!

[2019-02-24 17:42] anudeepND commented on #36
No they're no intentional, I will remove it ASAP

[2019-02-24 18:19] anudeepND commented on #36
Thanks for letting me know @Laicure. I have removed those invalid domains

[2019-02-24 18:19] #36 closed

[2019-03-01 05:52] xPMo opened #37 "Remove ptpb.pw"
[code]

[2019-03-02 15:45] the00guy opened #38 "Doesn't seem to with with latest version of Adaway..."
Hello, I'm trying to implement your Facebook host file in the latest version of AdAway, but it seems that the entries aren't making it into my host file.

[2019-03-08 03:59] dnmTX opened #39 "[click.linksynergy.com] not FP but better to remove it"
@anudeepND  i'll post a link to test it (it's safe) ,and i'm not saying that the domain in question is false positive but put it simply,it's working as the "man in the middle"(most likely collecting data in the process) but blocking it,one would not be able to reach the final destination.Here is the link(not sure how long will be active but if it's not ,let me know and i'll give you another one),c

[2019-03-09 11:22] anudeepND commented on #37
@xPMo Sorry for the late response, it's removed now. Thanks for reporting

[2019-03-09 11:22] #37 closed

[2019-03-09 11:23] anudeepND commented on #38
@the00guy Thanks for reporting, I will take a look at it

[2019-03-09 11:26] anudeepND commented on #39
@dnmTX I removed the domain, it is an affiliate link

[2019-03-09 11:26] #39 closed

[2019-03-09 18:24] dnmTX commented on #39
Thank you 👍

[2019-03-21 03:04] dnmTX opened #40 "[question] adobe-d.openx.net"
@anudeepND looks like that domain is responsible for downloading Adobe Flash Player.Any input on why it's blocked here?
For reference see: https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist/issues/451

[2019-03-21 04:56] kowith337 commented on #40
- Seems to be OpenX ads or tracking
- Are you trying to download Flash Player from Adobe site or somewhere else?

[2019-03-21 05:00] dnmTX commented on #40
@kowith337 thanks for responding. I'm actually trying to decide is it safe or not so it could be whitelisted in another repo(see above,i linked the issue for reference).
Based on what you posted looks like it's better to stay blocked.Thanks again 👍

[2019-03-21 17:05] dnmTX commented on #40
closing...no further info needed at this time.

[2019-03-21 17:05] #40 closed

[2019-03-22 21:31] spirillen opened #41 "feedburner.google.com | feedburner.com"
Hi @anudeepND i'm follow the good guys on Ultimate.Hosts.Blacklist by @funilrys

There is a question about the domains i title of issue on the at least these two issues

https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist/issues/455 and my own https://github.com/spirillen/rpz-block-list/issues/78

Could you do us that favor to enlighten us about why they are listed

[2019-03-25 19:05] lightswitch05 opened #42 "Another facebook/instagram host: instagram.fcdg1-1.fna.fbcdn.net"
Hello, I found a new host from facebook today: instagram.fcdg1-1.fna.fbcdn.net

[2019-03-25 20:10] dnmTX commented on #42
Way to go @lightswitch05. Sharing is caring 👍 🥇

[2019-04-04 12:34] lightswitch05 commented on #42
Found some new ones today:

[code]

[2019-04-07 20:24] incognico opened #43 "False postive"
bilder.bild.de imho should not be in there - I don't think ads are served from there, only images.

[2019-04-19 17:02] dnmTX opened #44 "[false positive] 1fgqfml.oloadcdn.net"
@anudeepND  i'm not sure how that specific domain ended up on your radar but `*.oloadcdn.net`
domains are part of `openload.co` and that's where the content is hosted. It's harmless and would advise to remove it as there will be not possible to watch anything from `openload.co`
For more info see our [conversation](https://github.com/Ultimate-Hosts-Blacklist/whitelist/issues/18#issue-433559349).
Th

[2019-05-11 14:27] beerisgood opened #46 "location.services.mozilla.com"
This is the location service from Mozilla.
It's safe

[2019-05-18 07:50] beerisgood commented on #46
*push*

[2019-05-18 08:00] beerisgood opened #47 "akadns.net servers / Windows Update"
You block the following Windows Update servers with your adservers.txt:
   fe2.update.microsoft.com.akadns.net
   sls.update.microsoft.com.akadns.net
   statsfe2.update.microsoft.com.akadns.net

All are legit:

https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1809-non-enterprise-editions

[2019-05-18 16:33] dnmTX commented on #47
I was also wondering about that(see #30).I guess this confirms it.
@beerisgood, @anudeepND  has been away for some time now so it might take a while until those gets removed. Just FYI.

[2019-05-20 02:55] chado99 opened #48 "vanguard.demdex.net"
Match found in https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt:
   vanguard.demdex.net

Hi, Vanguard isn't an ad server. This domain is for the adobe analytics used for personalize services and a few other items on their site. I recommend an unblock as it is not an ad server. Thanks.

[2019-05-20 03:02] kowith337 commented on #48
`Analytics` should be also treated as Ads and tracking, I guess, must be same as `Google analytics`, isn't it?

[2019-05-20 03:05] chado99 commented on #48
fair enough. I am more nuanced. distinguish analytics for private company use (e.g, an organization who has adopted adobe platform for their own customer experience, like vanguard). But your point is fair and valid. I will whitelist on my own end for this purpose. feel free to close this.

[2019-05-20 04:03] dnmTX commented on #48
@chado99  if you don't mind close this as the repo owner is away at this moment.Thank you 👍

[2019-05-20 04:04] chado99 commented on #48
c;losed as the point was brought up that this is technically a tracker...just not an ad server.

[2019-05-20 04:04] #48 closed

[2019-05-24 13:15] beerisgood commented on #47
Looks like the dev is inactive.
After 14 days without any response in other issue https://github.com/anudeepND/blacklist/issues/46 i remove this list from my PiHole until (if ever) fixed.

[2019-05-26 20:00] MattAKAFred opened #49 "Domains Breaking AndroidTV Apps"
I've had to whitelist a few domains to enable some of my Android TV (SHIELD TV) apps. Specifically:

CBS:
`cbsinteractive.hb.omtrdc.net`
`pubads.g.doubleclick.net`

NBC:
`nbcume.sc.omtrdc.net`

Not confident of your policy on what constitutes a "false positive", but these are necessary for the apps in question to function (though they likely also do assist in serving ads).

[2019-06-01 04:29] anudeepND commented on #49
@MattAKAFred You may need to whitelist these domains because doubleclick.net is an adserving domain and omtrdc.net is used for tracking. These domains will not be removed as it affects majority of users.

[2019-06-01 04:29] #49 closed

[2019-06-01 04:31] anudeepND commented on #47
@beerisgood @dnmTX Sorry, I was away from Github because of health issues. I will continue to maintain this list.

[2019-06-01 04:35] #47 closed

[2019-06-01 04:38] #44 closed

[2019-06-01 04:41] anudeepND commented on #46
@beerisgood It;s fixed now. Sorry for the delay

[2019-06-01 04:41] #46 closed

[2019-06-01 04:43] dnmTX commented on #44
Welcome back my friend.I hope you are well and sorry to hear about the health issues.
We've missed you around here. 😉 👍

[2019-06-01 04:44] anudeepND commented on #43
@incognico Can confirm.  Fix incoming

[2019-06-01 04:45] #43 closed

[2019-06-01 04:47] anudeepND commented on #42
Pull request merged. Closing

[2019-06-01 04:47] #42 closed

[2019-06-01 05:04] anudeepND commented on #41
@spirillen FeedBurner has a monetize option which uses Google Adsense, but I don't know whether the tracking or adserving domain is delivered via feedburner.google.com

![step7](https://user-images.githubusercontent.com/26179946/58743946-a3b44680-8458-11e9-89c3-05c262c829b9.gif)

[2019-06-02 11:24] #41 closed

[2019-06-05 12:18] anudeepND opened #50 "Inactive domains"
I was looking at the https://github.com/Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server/tree/master/output/domains, there are 13k inactive domains. Most of them seems to taken down or no longer valid. What are your suggestions @dnmTX and @lightswitch05 ? Do I need to remove them?

[2019-06-05 12:34] lightswitch05 commented on #50
When lists like these are used with something like the pihole - there is very little performance impact to the run-time with long lists. However, there are definite performance issues with using a long list with windows hosts. So I guess its depends on how you expect this list to be used.

Personally, I don't care to remove these inactive domains and people who wish to have an optimized list are w

[2019-06-05 13:58] anudeepND commented on #50
@lightswitch05 Better leave them as it is, we can't be 100% sure that these domains are inactive

[2019-06-05 13:58] #50 closed

[2019-06-05 19:41] dnmTX commented on #50
@anudeepND  @lightswitch05  i personally been loading both of your lists from the ultimate-hosts-blacklist project for...probably a year now,it could be even longer and will remain the same way for the feature.For me it's important my lists to be optimized to the max 😉 .But that is just me,and as @lightswitch05  already noted it all comes to personal preference.

[2019-06-14 07:02] derfrankie opened #51 "Tracking on Androidpit websites"
Found out about this domain (which is the parent company behind the popular Androidpit websites)

tracking-opi.fonpit.de

[2019-06-14 12:26] anudeepND commented on #51
Thanks for reporting @derfrankie
It's added to the list. https://github.com/anudeepND/blacklist/commit/1cc397702d116bc7cf0741bc7fc6eed807c80ca2

[2019-06-14 12:26] #51 closed

[2019-06-19 15:06] lightswitch05 opened #52 "fast.wistia.com is a video hosting provider"
Blocking `fast.wistia.com` breaks training videos on codewithmosh.com

My understanding is that `fast.wistia.com` is a hosting provider for videos - kind of like vimeo.com for businesses. While the videos can be advertisements, they can also be legitimate content videos.

[2019-06-21 14:48] anudeepND commented on #52
Can confirm, the video on the homepage fails to play. I removed `fast.wistia.com`. Thanks for reporting!

[2019-06-21 14:48] #52 closed

[2019-06-27 12:58] xorcan opened #53 "yastatic.net"
please remove this line from blacklist:
||yastatic.net^

because its blocking some content:
![resim](https://user-images.githubusercontent.com/25418042/60268047-2c0cf680-98f4-11e9-88bd-b131499b60d0.png)

[2019-06-27 14:24] anudeepND commented on #53
Can confirm. Thanks for reporting @xorcan, it's removed in https://github.com/anudeepND/blacklist/commit/09d122e16a7e4aff45e831ec04ffc9094fd1f311

[2019-06-27 14:24] #53 closed

[2019-07-11 18:27] AdroitAdorKhan opened #54 "'st.adxxx.o' Incomplete Domain"
Can you check your adservers list. This `st.adxxx.o` domain seems to be an incomplete domain.

[2019-07-12 03:41] dnmTX commented on #54
Confirming. PING @anudeepND

[2019-07-19 09:09] #54 closed

[2019-07-19 22:50] cloudyytechie opened #55 "Deals.thehackernews.com"
I was just wondering if you could unblock deals.thehackernews.com please

[2019-07-20 05:15] #55 closed

[2019-07-26 19:16] kevinenglish-keyw commented on #13
3gppnetwork.org is the root domain for most Cell-over-WiFi calling.  Cell phones participating in WiFi calls make ESP protocol connections to hostnames like:
 edpg.epc.mnc260.mcc310.pub.3gppnetwork.org

Block these hosts and you block WiFi calls.

[2019-07-26 21:43] dnmTX commented on #13
@anudeepND  if those domains are really affecting the WiFi calls as @kevinenglish-keyw  stating please remove them from your lists as due to a poor cell signal in my place i heavily rely on WiFi calling.
Thanks bud,hope you're well 👍

[2019-07-27 05:34] anudeepND commented on #13
@kevinenglish-keyw Thanks for letting me know, I was unable to verify these domains at that time. @dnmTX I will remove them ASAP

[2019-07-27 05:39] #13 closed

[2019-08-23 12:09] koshkin-ccna opened #56 "[false-positive] reg.ru"
reg.ru is a major domain registrar and webhosting provider, this definitely false-positive.

[2019-08-23 16:15] #56 closed

[2019-08-23 16:27] anudeepND commented on #56
@koshkin-ccna Thanks for reporting

[2019-08-27 14:46] hectorm opened #57 "Google Fonts is blocked"
I don't know if this is intentional, but the domain `googleadapis.l.google.com` was added in 62b873ddbd7170ae1c6964186eec0a0d984ab7ef and is causing the problem, since `fonts.googleapis.com` contains a CNAME record to this domain.

[2019-08-27 20:18] hectorm commented on #57
Code snippets generated at [fonts.google.com](https://fonts.google.com/) use the domain `fonts.googleapis.com`.

![](https://user-images.githubusercontent.com/852266/63804355-46c11300-c917-11e9-8540-dae9c8ebf7f0.png)

With `dig` we can see how `fonts.googleapis.com` has a CNAME record with value `googleadapis.l.google.com`.

[code]

Other blocklists have already erroneously blocked Google Fonts in

[2019-08-27 22:20] hectorm commented on #57
Reproducing the problem depends on how you are using this blocklist.

When you use the `/etc/hosts` file this problem does not occur, but when you implement a DNS block, such as using [Knot Resolver with static hints](https://knot-resolver.readthedocs.io/en/stable/modules.html#static-hints) (e.g., `hints['googleadapis.l.google.com'] = '0.0.0.0'`), any client using this resolver will get the follow

[2019-08-28 06:00] anudeepND commented on #57
@hectorm Interesting.... Google Fonts works for me when using pi-hole. But I don't know what is delivered over `googleadapis.l.google.com`, it was in my pi-hole log.
It is better to remove it from the list, what do you think @dnmTX
I don't want to be too aggressive with the list

[2019-08-28 09:08] hectorm commented on #57
This behavior is common in DNS resolvers. For example [systemd-resolved](https://www.freedesktop.org/software/systemd/man/systemd-resolved.service.html), the resolver included by default in most distributions that use systemd, behaves in the same way when there is an entry of this type in the `/etc/hosts` file.

[2019-08-29 06:57] deama opened #58 "server.cpmstar.com is another ad server"
"server.cpmstar.com" I believe is another server that hosts ads, at least on the websites that I visit.

[2019-08-30 06:31] Geraner opened #59 "Bose Speaker performing a lot call backs to events.api.bosecm.com"
I'm using a Bose Wireless speaker which is reporting a lot of events back to:
events.api.bosecm.com
I blocked it since a couple of month in my PiHole blacklist.
Events are been sent on each song change while streaming on Spotify, and periodically while steaming other content.
For more information, see Bose's own policy:
https://www.bose.com/en_us/legal/privacy_policy.html
Especially point: "2. Inf

[2019-08-30 09:39] spirillen commented on #59
Thx for sharing this found, I'll copy this info to my own block-list :)

[2019-08-30 12:43] anudeepND commented on #57
I will keep the domain in the list, I will remove it if I get more reports on this domain. Thanks @hectorm and @dnmTX

[2019-08-30 12:43] #57 closed

[2019-08-30 12:49] anudeepND commented on #59
Thanks for reporting!
Here is the snippet from their privacy policy:

"We automatically collect....

Usage information, including:

- Content stored on the SoundTouch system presets.
- SoundTouch system listening history and content data, including recently played stations, playlists, artists, albums, songs, or podcasts.
- SoundTouch system and software use and content patterns (including the dura

[2019-08-30 13:00] anudeepND commented on #58
Thanks for reporting :)

[2019-08-31 02:06] dnmTX commented on #59
@Geraner  can you block on your side `events-aws-useast.api.bosecm.com` also and test it and if there are no issues and everything is working report back so @anudeepND  can add it in the lists here.
Thank you 👍

[2019-08-31 06:13] Geraner commented on #59
@dnmTX This is not necessary. I have seen this adress as well in my DNS logs, before I started blocking events.api.bosecm.com .
For me it looks like the events.api.bosecm.com is the first initial DNS lookup. Based on the location of the user, the following DNS requests will include events-aws.usest / uswest etc..
So just blocking events.api.bosecm.com is enough, because my Bose speaker can't reach

[2019-08-31 07:43] #58 closed

[2019-08-31 07:44] anudeepND commented on #59
@Geraner If you see it in your logs in the future please report it :)

[2019-08-31 07:44] #59 closed

[2019-08-31 09:35] spirillen commented on #59
Nice information sharing :sweden: @Geraner and nice to see you have been working on the issue before posting :+1:

[2019-09-02 02:37] Geraner commented on #59
Thanks for your comments @spirillen and I’m impressed that @anudeepND added the domain so fast to the list! 👍
I will for sure come back and report again if applicable domains are been found. 🤘

[2019-09-15 21:22] DRSDavidSoft opened #60 "Report Tracker for Windows App"
These domains belong to [FlashGet](http://flashget.com), which is a Windows download manager app:

### Trackers
[code]

### Ads
[code]

Could you please consider adding them to your list?

[2019-09-15 21:54] DRSDavidSoft commented on #57
@hectorm I can confirm the same behavior in [Unbound](https://nlnetlabs.nl/projects/unbound/about/), another DNS resolver and cache server that I use in my setup (**DNScrypt + Unbound**).

@anudeepND I also think that `googleadapis.l.google.com` should not be in the `adservers.txt` list, since it's a general domain and is not exclusively used to serve ads.

Personally I have the `googleadapis.l.go

[2019-09-16 10:21] anudeepND commented on #57
@DRSDavidSoft Thanks for your valuable info, currently no ads are being served from this domain. I will remove it the next update

[2019-09-16 10:22] anudeepND commented on #57
@DRSDavidSoft Thanks for your valuable info, currently no ads are being served from this domain. I will remove it the next update

[2019-09-16 11:29] anudeepND commented on #60
@DRSDavidSoft Thanks for reporting, I will add them in the next update

[2019-09-17 14:39] #60 closed

[2019-09-23 10:12] andreas83 opened #61 "[false-positive] sentry.io"
i guess sentry.io should not be on that list

[2019-09-24 00:42] dnmTX commented on #61
I guess it should

[2019-09-24 04:28] kowith337 commented on #61
Noted that some app or service use `Sentry` for mail server, e.g. NewPipe app use that for report bug via e-mail and prompted users before reporting back.

However, some web, apps or services can use with abusive way, e.g. logging or capture error and sent them without user confirmation.

But for now, I have no idea is it true?

[2019-09-24 08:01] andreas83 commented on #61
Please let me explain why i think its a false positive.
Disclaimer i know at least one guy working there.

For sure it can be abused for user and behavior tracking but this it not what it is designed for in the very first place. Its basically a tool for developers to track errors.

From their website:
Sentry provides open-source and hosted error monitoring that helps all software
teams discover, t

[2019-10-18 19:59] workmanlike opened #62 "Potential Issue Blocking cdns.gigya.com"
Hello,

Thanks for taking the time to make this list.

Just a quick question: blocking the address: cdns.gigya.com causes the www.nationalexpress.com search functionality to break and after searching online it appears blocking it breaks other websites as well.  Is this a case where people will have to whitelist if they require it otherwise it will be blocked?  It seems to me that this address serv

[2019-10-18 20:43] spirillen commented on #62
Domains Used for ads/tracking/malware are often used for several purpose, exactly to have **_YOU_** whitelisting them as "your" blacklist breaks sites...
hrm hmm and this is to turn things upside down. It is the evil sites, that code there sites to use evil services, there is broken... and very badly coded.

Summary, whitelisting evil domains is a bad path. The best you can do, is to add `www.nati

[2019-10-18 22:46] workmanlike commented on #62
Yeah I guess that's a problem if they are using them for multiple things.  Seems strange that they would do that though as DNS blocking isn't exactly mainstream.

Haha, I wouldn't describe it as a bait site as it's the biggest coach travel company in the UK but I take your point it probably has a lot of trackers on it etc.

[2019-10-18 23:33] spirillen commented on #62
Google and Facebook are not small either but they are still only bait-sites, seems to offer you something only to harvest your privacy and organs...

A little hint, as bigger something, more evil have been served to get there...

[2019-10-23 07:38] empurium commented on #61
Agreed, sentry.io is a legitimate company that developers use to track errors in their web apps. That's its only purpose. So if you encounter an error when using a website, the error message is sent to Sentry so that the developers can fix the problem.

We use Sentry daily to find and fix issues for users and/or customers. Just my $0.02.

[2019-10-24 02:30] dnmTX commented on #61
Whitelisted on your end and go on with your lives.**SENTRY** will remain blocked here!!!!
That...is...a...PROMISE !!!!

[2019-10-24 04:11] kowith337 commented on #61
To be clear, did that process are done automatically or prompt to user-side before submit error back to `Sentry`?

If not, it maybe in doubt and need to block first.

[2019-10-24 05:53] empurium commented on #61
@dnmTX I understand whitelisting is a workaround. I'm only adding some information as to what it is, nothing wrong with that. I don't care if it remains blocked here, though you don't exactly appear to be a contributor to this repository, so I'm not sure why you have such strong feelings.

@kowith337 The user is not typically prompted in most implementations that I've seen, but they don't qualify

[2019-10-24 22:27] dnmTX commented on #61
you can call me **THE GATEKEEPER**

that is truly NON OF YOUR BUSINESS  **Mr. Centry Lover** ,now PISS OFF !!!!

[2019-10-27 00:35] empurium commented on #61
Cool attitude for people adding context to a discussion, have fun with that 🤷‍♂

Appreciate the repo either way.

[2019-10-31 13:10] anudeepND commented on #61
Sorry for the late reply @empurium , this issue has been discussed in https://github.com/lightswitch05/hosts/issues/58, so my response will be same as @lightswitch05

[2019-10-31 13:10] #61 closed

[2019-10-31 13:15] anudeepND commented on #62
Gigya is used to build customer behavior data and it should be on the list, @lightswitch05 do you have any info on how it affects www.nationalexpress.com ?

[2019-10-31 15:58] lightswitch05 commented on #62
I have Gigya blocked in my aggressive list, but not my primary list. I moved it to my aggressive list per https://github.com/StevenBlack/hosts/issues/742#issuecomment-411037366

[2019-10-31 16:02] lightswitch05 commented on #62
It is interesting that this complaint is for the exact same website. Since its the same website that keeps being complained about, I would be more inclined to add it back to my base list and just have people who need this specific website to whitelist it. When a block seems to only affect a single website like this, the issue tends to be more with the website not doing proper error handling then t

[2019-10-31 16:04] lightswitch05 commented on #62
I like @spirillen suggestion that this is a bait site and is designed to fail on purpose

[2019-10-31 19:05] spirillen commented on #62
@lightswitch05 and @anudeepND if you should add it to your list or not would depend on the concept of your project.

e.g. My concept is clear: **_Privacy_** and if blocking any tracking/spying is breaking any bad websites, it's a success that hopefully would bring people into better sites. And as long there can't be provided a seriously good argumentation that a domain no longer nor ever will be u

[2019-10-31 19:18] spirillen commented on #62
Hi Steven thx for you reply, It just happens that i been noticing lately that you disable sources if they brake a site.....  I would of curse drag up a few examples here, but as always when you need something you can't find them, but CoinBlocker is one from the top of my head....

[2019-10-31 19:21] StevenBlack commented on #62
@spirillen CoinBlockerList had a MAJOR bug that added 3,000 domains that included all digital currency exchanges, AND digital currency quote sites.

So ya I removed that, for a few days, because it was bogus.  It was a serious, third-party bug.

[2019-10-31 19:27] spirillen commented on #62
@StevenBlack see edit above :point_up:

[2019-11-01 17:16] anudeepND commented on #62
This site will remain blocked, https://better.fyi/trackers/gigya.com/ because of the data it collects and how they process it, their privacy policy looks sketchy to me

[2019-11-01 17:16] #62 closed

[2019-11-01 19:49] empurium commented on #61
Ah, appreciate the insight @anudeepND !

[2019-11-14 20:42] Geraner opened #63 "Ubiquiti calling home"
Just saw those news:
https://www.theregister.co.uk/2019/11/07/ubiquiti_networks_phone_home/
Additional to this, Ubiquiti's own statement:
https://community.ui.com/questions/Update-UniFi-Phone-Home-Performance-Data-Collection/f84a71c9-0b81-4d69-a3b3-45640aba1c8b
Ending with the comment:
_"If you do not wish to participate/provide this data, we will add an opt-out button in upcoming versions that wi

[2019-11-14 21:18] spirillen commented on #63
Hey @Geraner Thanks for the [note](https://gitlab.com/my-privacy-dns/matrix/matrix/issues/520) I have at least added it to my sources :smiley:

[2019-11-16 15:38] anudeepND commented on #63
@Geraner This is great! Thanks for notifying me

[2019-11-16 15:38] #63 closed

[2019-11-17 05:21] #38 closed

[2019-12-03 19:38] TorchedPoseidon opened #64 "False positive idiagnostics.apple.com"
You might want to remove:

`idiagnostics.apple.com`

As far as I can tell this is exclusively used for remote diagnostics on iDevices by Apple Support for which the user needs to explicitly agree.

[Example](https://i.imgur.com/eYslWOt.jpg)

[2019-12-03 20:39] TorchedPoseidon opened #65 "False positive on the Facebook list instagram.c10r.facebook.com"
Blocking `instagram.c10r.facebook.com` breaks instagram, in particular viewing one's (own) profile and posts. Whitelisting it makes it work again.

Edit: To clarify this is on the iOS app

[2019-12-07 23:18] LookingSharp commented on #65
FYI - I don't seem to be hitting this.  Not sure if the repro steps aren't clear.

[2019-12-07 23:19] LookingSharp opened #66 "False positive on app.box.com"
`app.box.com` is blocked, which is required to open a document on box.com storage service.  Log in, navigate to files, click on a .docx document file. This isn't an ad.

[2019-12-08 00:00] TorchedPoseidon commented on #65
@LookingSharp there's not much to describe to repro, but for sake of good form:

Step 1: Add the Facebook list to your favourite DNS based add blocker, in my case the PiHole
Step 2: Open the Instagram app on iOS
Step 3: Tap on the profile button, last option on the right of the buttons on the tab at the bottom
Step 4: Pull down to refresh for good measure since the app will initially show cached p

[2019-12-10 16:04] TorchedPoseidon opened #68 "False positive(?) www.opinionstage.com"
`adservers.txt `includes `www.opinionstage.com` which is used by some newsblogs for a quick and dirty way to poll readers. [Example (Dutch)](https://www.iculture.nl/nieuws/iphone-11-serie-gps-probleem/), they use it regularly.

I'll leave it up to @anudeepND if that's to be considered a false positive or if it falls within the scope of what the list is trying to block.

[2019-12-11 07:35] spirillen commented on #68
For what I can understand from `www.opinionstage.com` site, they are a Spyware/Tracking service!!

[2019-12-11 18:12] TorchedPoseidon commented on #68
@spirillen Perhaps I'm misreading, but where in that excerpt does it state they are utilising spyware or tracking for that matter?

All I'm reading is that they pass on the volunteered answers that are filled in in Buzzfeed-esque quizzes to the person that made the quiz and put it up on their webpage. Perhaps for a quiz that might not be immediately obvious to the person filling in the quiz, depen

[2019-12-11 23:24] spirillen commented on #68
Hi @TorchedPoseidon thanks for the reply.

To understand the language of this kind of hrm hrm dudes, we need a little dictionary of translations from there deeply manipulative language to lure people into, wow this is cool. Here is a little simplified one:

They are tracking all your moves, for designing a personally identifying identity of _YOU_

Same as above

The quiz is  the tool to identifyin

[2019-12-11 23:47] TorchedPoseidon commented on #68
I’m sorry @spirillen but this is getting a bit too much levels of tinfoil hat. On that note I’m unsubbing from this issue. It’s reported and discussed, there’s not much to add. The curator @anudeepND will have to make their own determination based on the information at hand. My job here is done.

[2019-12-12 00:09] spirillen commented on #68
@TorchedPoseidon try to read this as an example https://seeromega.com/get-user-insight-run-targeted-campaigns-using-personality-quizzes/

https://www.tryinteract.com/blog/gain-customer-insights-using-personality-quizzes/

https://voymedia.com/engage-inspire-and-convert-with-personality-quizzes/

https://www.opinionstage.com/tutorials/how-to-make-a-personality-quiz

Then you can do what you wont wi

[2019-12-12 00:29] TorchedPoseidon commented on #68
@spirillen None of those examples indicate how these quizzes are used to track people without their knowledge or consent nor how they serve unsolicited ads. Moreover none speak about polls. Lastly none indicate which domain is being used to do the stuff you’re alleging. Currently the domain it pertains to leads to a corporate webpage and, if the URL is more than just the mentioned domain, to polls

[2019-12-20 07:36] anudeepND commented on #68
@TorchedPoseidon Sorry for the late reply. I looked at the privacy policy of [OpinionStage](https://www.opinionstage.com/privacy). Here's a quote from that page:

`
 In some cases, persons may be asked to provide certain personal data through the polls, surveys, quizzes, slideshows, lists, stories and forms created through the Website (the “Content Data”). Please note that we do not make decisions

[2019-12-20 07:38] #68 closed

[2019-12-20 07:45] anudeepND commented on #66
@LookingSharp Sorry for the late reply, it's been removed. Thanks for reporting :)

[2019-12-20 07:45] #66 closed

[2019-12-20 07:48] anudeepND commented on #65
@TorchedPoseidon Can confirm. Thanks for reporting

[2019-12-20 07:48] #65 closed

[2019-12-20 07:49] anudeepND commented on #64
Thanks @TorchedPoseidon

[2019-12-20 07:51] #64 closed

[2019-12-25 10:17] borzaka opened #69 "Mention test site in readme"
I think is site is a great tool to test the successfullnes rate of the ad blocking:
https://ads-blocker.com/testing/

[2019-12-25 16:17] anudeepND commented on #69
@borzaka I have updated the readme with the given info. Thanks for reporting :)

[2019-12-25 16:17] #69 closed

[2020-02-09 20:49] ccbrianf opened #71 "Tubi TV Roku App"
The Tubi TV Roku App requires the following host to function:
uapi.adrise.tv

[2020-02-13 13:55] beerisgood opened #72 "hqq.tv"
hqq.tv is a streaming site. No need to block the whole domain

@anudeepND

[2020-02-23 04:03] dnmTX opened #73 "Please validate cs11.wpc.v0cdn.net"
@anudeepND  for more info refer to this [issue](https://github.com/Ultimate-Hosts-Blacklist/whitelist/issues/108) as i'm not convinced so far to whitelist it there.
Please validate and it's up to you to remove it or not.
Thanks bud 👍

[2020-02-29 23:45] beerisgood opened #74 "uhf.microsoft.com"
This domain is used for bringing Microsoft websites into compliance with the EU cookie policies.
See https://github.com/Rational-Interaction/microsoft-cookie-compliance.

So no candidate for your adservers.txt

@anudeepND

[2020-03-01 02:20] angrynerd opened #75 "Gitlab"
I am not sure what part of this list blocks it, but i have tested it and it does block gitlab. Please fix

[2020-03-01 13:51] unimarijo opened #76 "Parimatch.ru"
Parimatch.ru is the official bookmaking company, it has nothing to do with ads/telemetry.

`www.parimatch.ru` is blocked for some reason, however, `parimatch.ru` is not.

[2020-03-10 19:51] c0defre4k opened #77 "js.pusher.com is not an ad/tracking service"
Hello,
is there a specific reason why `js.pusher.com` is blocked?
Pusher is a framework used by modern web applications to provide realtime data through web-sockets. Although it can be used for advertising its not the main purpose if this service. Blocking this domain breaks base functionality of many website that use this technology.

In my opinion this should be removed from the list, to not bre

[2020-03-10 20:22] llacb47 commented on #77
Provide examples of breakage.

[2020-03-10 20:54] c0defre4k commented on #77
In my case its a backend application to manage the content of a website, which uses pusher to provide live updates instead of reloading the whole page.
Because the `js.pusher.com` is blocked it actually prevents the application from booting and I'm stuck at looking at a loading animation.

[Pusher's website](https://pusher.com/) describes pretty good what this service is used for - this is not a t

[2020-03-10 22:24] dnmTX commented on #77
@c0defre4k  the lists owner is away at the moment and i'm not sure when he'll be back to validate your request. Will advise you to whitelist it on your end and keep an eye on the issue here for any changes/updates.

[2020-03-11 13:52] c0defre4k commented on #77
@dnmTX thanks for the info! That's what I already did in my setup. I'll have an eye on this ticket until the author has reviewed it. I'm sure it wasn't his intention to block a service like this.

[2020-03-15 16:36] micah commented on #75
I'm able to go to gitlab.com fine, what fails for you?

[2020-03-16 20:18] al-muftah opened #78 "facebook.txt"
facebook.txt list block Instagram direct massages

[2020-03-18 15:57] p1r473 opened #79 "accounts.us1.gigya.com socialize.us1.gigya.com"
Hi, you are blocking the following domains:

accounts.us1.gigya.com
socialize.us1.gigya.com

These domains break logging into iRobot app on Android, and starting iRoomba vacuum from Google Home

[2020-03-21 09:21] beerisgood opened #80 "x.ss2.us"
The domain "x.ss2.us" is used for Third party Certificate download and verification sites.

See https://knowledge.autodesk.com/search-result/caas/sfdcarticles/sfdcarticles/What-URLs-protocols-should-be-accessible-for-Desktop-Subscription-to-work.html

[2020-03-27 12:56] beerisgood opened #81 "arc.msn.com"
Your https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt block the following false positve:
arc.msn.com

It's used/ needed for Windows Spotlight

[2020-04-02 14:55] anudeepND commented on #81
@beerisgood Sorry for the late response, I didn't had access to my computer. I will fix it in the next update. I have a list of several MS domains that breaks some functionality across MS platforms, I will remove them in the next update

[2020-04-02 14:56] anudeepND commented on #80
@beerisgood Thanks for reporting, will be fixed in the next update

[2020-04-02 14:58] anudeepND commented on #79
@p1r473 Thanks for reporting, I will look into it

[2020-04-02 14:59] anudeepND commented on #78
@al-muftah I don't have Instagram, can you provide more information on which domain are responsible for DMs?

[2020-04-02 15:00] anudeepND commented on #77
Sorry for the delay guys, I will remove it in the next update :)

[2020-04-02 15:01] anudeepND commented on #76
@unimarijo Thanks for reporting, it was added by mistake. I will remove it in the next update

[2020-04-02 15:03] anudeepND commented on #75
@angrynerd GitLab is working fine for me, do you have any other blocklists enabled like social media blocklists etc.?

[2020-04-02 15:04] anudeepND commented on #74
@beerisgood Thanks for reporting, will be removed in the next update

[2020-04-02 15:06] anudeepND commented on #73
@dnmTX Any updates on this?

[2020-04-02 15:07] anudeepND commented on #72
@beerisgood Will be removed in the next update. Thanks

[2020-04-02 15:08] anudeepND commented on #71
@ccbrianf  adrise is also used to deliver ads so it will not be removed. However you can whitelist that domain

[2020-04-02 15:08] #71 closed

[2020-04-02 23:16] dnmTX commented on #73
@anudeepND  welcome back my friend,hope everything is ok and you are well 😉
I'm really not convinced that the mentioned domain is anywhere close to false positive so no action is needed from you and i'll be closing this issue and the one on our end as well.
And one more time....glad you're back 👍

[2020-04-02 23:16] #73 closed

[2020-04-02 23:24] dnmTX commented on #78
@anudeepND `facebook` owns `instagram`. Of course there will be common domains in use.
@al-muftah  my best advise is to just not use the `facebook.txt` list.

[2020-04-03 07:57] anudeepND commented on #74
@beerisgood The domain is not blocked in the list. Closing

[2020-04-03 07:57] #74 closed

[2020-04-03 08:01] anudeepND commented on #81
Removed in ce987e1

[2020-04-03 08:01] #81 closed

[2020-04-03 08:01] anudeepND commented on #80
Removed in ce987e1

[2020-04-03 08:01] #80 closed

[2020-04-03 08:01] anudeepND commented on #77
Removed in ce987e1

[2020-04-03 08:01] #77 closed

[2020-04-03 08:02] anudeepND commented on #72
Removed in ce987e1

[2020-04-03 08:02] #72 closed

[2020-04-03 08:02] anudeepND commented on #76
Removed in ce987e1

[2020-04-03 08:02] #76 closed

[2020-04-03 08:19] c0defre4k commented on #77
@anudeepND can you please also remove `ws.pusherapp.com`?

[2020-04-03 08:21] beerisgood commented on #74
Thanks!

[2020-04-03 08:26] anudeepND commented on #77
Oops...it will be removed in the next update :)

[2020-04-04 00:03] ajayramaswamy opened #82 "moneycontrol.com"
Please remove stat.moneycontrol.com stat1.moneycontrol.com stat2.moneycontrol.com stat3.moneycontrol.com stat4.moneycontrol.com  stat5.moneycontrol.com

This breaks the ability to go into any article on their side only the first page renders correctly all atricles and other tools are broken

[2020-04-04 00:07] ajayramaswamy opened #83 "Consider filtering this list through dead-hosts"
There is a project to do verification and validation of ad block lists at https://github.com/dead-hosts

I ran this list through that program and it reported more than 4000 entries as invalid / inactive

Be warned that it takes more than 24 hours to complete with 38000+ entries

[2020-04-04 01:49] dnmTX commented on #83
@ajayramaswamy  the same developer has newer project and @anudeepND's list is included there:
https://github.com/Ultimate-Hosts-Blacklist/anudeepND_blacklist_ad_server

The importance here is that the original list must remain untouched,so to be fetched and filtered properly because the so called dead/invalid domains,some of them return back to life and continuing spreading ads and what not.

[2020-04-04 09:23] beerisgood opened #84 "choice.microsoft.com"
This domain get blocked by your https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt

choice.microsoft.com is needed for:
Control the use of your data for interest-based advertising from Microsoft by visiting our opt-out page.
https://privacy.microsoft.com/en-us/PrivacyStatement#

[2020-04-04 15:59] anudeepND commented on #83
@ajayramaswamy I'm aware that this list contains several dead hosts. There are some malware domains that only targets several countries so it is hard to verify that those domains are active or not.

 As @dnmTX said, good guys at Ultimate Hosts Blacklist  maintain a filtered list which periodically runs and filters out invalid and dead domains. If you are using this list with pi-hole any DNS based

[2020-04-04 15:59] #83 closed

[2020-04-04 16:02] anudeepND commented on #82
@ajayramaswamy Thanks for report. Even though the domain name look like trackers, those are used to deliver style sheets and JS files. Will be removed in the next update

[2020-04-04 16:04] #78 closed

[2020-04-04 16:07] #82 closed

[2020-04-04 16:08] #84 closed

[2020-04-15 09:23] XelNika commented on #73
@anudeepND I just hit this issue like the user in the linked issue. `ctldl.windowsupdate.com` *can* be a CNAME to `cs11.wpc.v0cdn.net`, Microsoft seems to load-balance across several CDNs.

I have no opinion on its presence in the list though. If I understand correctly, Pi-hole will allow the lookup if I whitelist `ctldl.windowsupdate.com` so I prefer that solution.

![Screenshot_20200415_111832](

[2020-04-15 16:00] anudeepND commented on #73
@XelNika Hmmm....interesting, I have decided to remove `*.v0cdn.net` domains from the list. Thanks for updating me on this issue :)

[2020-04-15 16:04] anudeepND commented on #79
If anyone has tested with their iRoomba devices please post in this thread

[2020-04-15 16:04] #75 closed

[2020-04-15 17:27] p1r473 commented on #79
I have tested this
Was not able to log in without these domains unblocked, and couldn't start the iRoomba vacuum from my Google Home

[2020-04-25 17:21] beerisgood opened #85 "browser.sentry-cdn.com"
Blocking this domain break the following site:
https://app.roll20.net/

Login works, but not site roll game.
After allowing, it works

[2020-04-25 17:22] scafroglia93 opened #86 "unblock -> graph.instagram.com"
Source ->
https://github.com/StevenBlack/hosts/issues/1206

[2020-04-26 16:46] anudeepND commented on #85
@beerisgood Thanks for reporting. The sentry domains will be addressed in the upcoming days

[2020-04-26 16:50] anudeepND commented on #86
@Thanks for notifying about the issue. As per the @llacb47 reply, it's also used for tracking events, also graph.facebook.com is also used for serving ads as well as an endpoints for many APIs. @llacb47 Do you any more info on this domain?

[2020-04-26 17:37] scafroglia93 commented on #86
Maybe you can reopen an issue inside stevenblack ?

[2020-04-27 21:41] lyrad87 opened #87 "Whitelist "api-iam.intercom.io""
Hi,

I was wondering if you could whitelist "api-iam.intercom.io". It breaks the chat so it can't be used. It's a customer messaging platform and seems harmless. This is their website: [https://www.intercom.com/]( https://www.intercom.com/). If it's doing something I'm not aware of then please feel free to comment and close the ticket.

[2020-04-28 16:49] scafroglia93 commented on #87
+1

[2020-04-28 17:06] anudeepND commented on #87
@lyrad87 Thanks for letting me know about the domain. It's removed in the latest update :)

[2020-04-28 17:06] #87 closed

[2020-04-28 17:07] scafroglia93 commented on #87
enjoy my donation :)

[2020-04-28 17:16] anudeepND commented on #86
@scafroglia93 It is also used for recording events for non instagram users also, it is better to leave a note on the readme saying the developers who use Facebook/IG APIs should whitelist the domain. What do you think?

[2020-04-28 17:24] scafroglia93 commented on #86
That would be nice

[2020-04-28 20:02] scafroglia93 opened #88 "unblock -> www.qualcomm.cn"
legit site from qualcomm

[2020-04-28 20:08] scafroglia93 opened #89 "unblock ->www.chefrubio.it"
italian cooking site

[2020-04-28 20:10] scafroglia93 opened #90 "unblock -> www.cert.br"
brasilian cert gov

[2020-04-28 20:13] scafroglia93 opened #91 "unblock -> www.taboola.com"
legit site

[2020-04-29 08:21] scafroglia93 opened #92 "unblock -> multiple whitelist"

[2020-04-29 09:47] #92 closed

[2020-04-29 22:25] scafroglia93 opened #93 "whitelist -> sentry.io"
sentry.io

[2020-04-29 22:44] #91 closed

[2020-04-30 13:37] anudeepND commented on #93
Initially I didn't wanted to remove sentry, but many of the developers use this to capture errors, so I decided to remove sentry.io and browser.sentry-cdn.com. However domains such as sentry.*.tld will be blocked

[2020-04-30 13:37] #93 closed

[2020-04-30 13:38] #90 closed

[2020-04-30 13:38] #89 closed

[2020-04-30 13:38] #88 closed

[2020-04-30 13:39] anudeepND commented on #85
Initially I didn't wanted to remove sentry, but many of the developers use this to capture errors, so I decided to remove sentry.io and browser.sentry-cdn.com. However domains such as sentry.*.tld will be blocked

[2020-04-30 13:39] #85 closed

[2020-04-30 13:40] anudeepND commented on #79
@p1r473 It is removed in the latest update. Thanks :)

[2020-04-30 13:40] #79 closed

[2020-05-01 10:31] scafroglia93 opened #94 "xiaomi tracking (mint browser)"
Source ->
https://www.youtube.com/watch?v=62kxZunBQyI&feature=emb_title

IoC ->
sa.api.intl.miui.com

need feedback for avoiding issue

[2020-05-01 11:56] scafroglia93 opened #95 "Whitelist"
If you need it, I made a diff with a well-kept whitelist

Whitelist ->
https://github.com/notracking/hosts-blocklists-scripts/blob/master/hostnames.whitelist.txt

Diff ->
graph.instagram.com
s0.2mdn.net
manifest.auditude.com
cdns.gigya.com
v10.vortex-win.data.microsoft.com
bestfwdservice.com
v10.events.data.microsoft.com
schibsted.io
vidible.tv
etl.tindersparks.com
seccdn-gl.imrworldwide.com
loggl

[2020-05-01 16:08] anudeepND commented on #94
Just read the news about it. Even though I have a Xiaomi device I have uninstalled their system app via adb commands. I will add the domain tomorrow

[2020-05-01 17:58] beerisgood opened #96 "v10.vortex-win.data.microsoft.com"
"v10.vortex-win.data.microsoft.com" is important for security!:

[Microsoft Defender Advanced Threat Protection](https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-data-in-your-organization)
so it's not Ad or Tracking or Telemetry

[2020-05-02 04:55] anudeepND commented on #94
@scafroglia93 The domain was added long before the tracking was discovered. Closing

[2020-05-02 04:55] #94 closed

[2020-05-02 05:05] anudeepND commented on #96
@beerisgood The domain is used for getting diagnostic data from Windows.

![firefox_lORUqFGUyl](https://user-images.githubusercontent.com/26179946/80855546-a2d6f680-8c5f-11ea-8f35-6f120fe665ee.png)

**Links to documentation:**
[1709](https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1709-endpoints)
[1803](https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1803-endpoints)

[2020-05-02 07:57] beerisgood commented on #96
Not true. The group policy editor can be activated in home edition too as it's already installed.
Anyway that's not needed as the user can set the diagnostic data to basic level in privacy settings which don't send any private data.

So it's important and not tracking.

[2020-05-02 10:48] scafroglia93 commented on #96
I confirm, the basic level of privacy does not send personal data

[2020-05-02 12:53] scafroglia93 commented on #96
Let's meet and work together to find a solution guys

[2020-05-02 16:15] anudeepND commented on #96
I would like to add a few points:

The basic level doesn't include any PII as far as I know. But the types of data collected include device attributes, such as camera resolution, display type, and battery capacity; application and operating system versions, **IMEI number** (for mobile devices) architecture details, processor, memory type, and firmware versions etc.

The privacy level defaults to e

[2020-05-02 16:58] scafroglia93 commented on #95
It's all ok ?

[2020-05-02 17:04] anudeepND commented on #95
I will make the changes tomorrow. Thanks for the info

[2020-05-02 21:55] scafroglia93 commented on #96
@beerisgood What do you think ?

[2020-05-02 23:11] beerisgood commented on #96
@anudeepND Wow. A long, good post 👍
Let's start:

Yeah as you say, non PII so that data are of course possible for create profiles but more needed for bug fixing and Updates as a OS is very complex and need some non-PII data to solve that.

To be fair the user can control the submission, even if most (or all?) of that data are non-PII too.

for these guys the Windows privacy management is enough.

[2020-05-02 23:21] scafroglia93 commented on #96
This could be a solution, a blacklist formed by the windows addons

@anudeepND It's a good idea for me (we need your list bud)

[2020-05-03 08:15] anudeepND commented on #96
@beerisgood @scafroglia93 I have created a [wiki](https://github.com/anudeepND/blacklist/wiki/Whitelist-Guide) page which will contain the domain names and description. I will be adding the domains to the wiki which affects a small number of people

[2020-05-03 14:07] scafroglia93 commented on #96
I think the way forward is to create an additional blacklist so that you don't have any problems.

Most people don't have the ability to whitelist a domain just as they won't go to github to read a wiki.

We must reason as perfect ignorant of matter

[2020-05-03 21:53] p1r473 opened #97 "s3.tradingview.com"
Hi, this domain hosts the images on tradingview.com and I believe it is a false positive

![image](https://user-images.githubusercontent.com/9235633/80926722-fa13be80-8d66-11ea-8f94-6d9fcb70b317.png)

[2020-05-04 07:04] anudeepND commented on #97
@p1r473 Confirmed. Thanks for reporting.
Removed in https://github.com/anudeepND/blacklist/commit/9eeb31e89ae6df2ef1e0ca8706525d265d48c016

[2020-05-04 07:04] #97 closed

[2020-05-04 07:57] scafroglia93 commented on #95
ok

[2020-05-04 20:11] scafroglia93 commented on #95
Wait for your info

[2020-05-04 20:12] scafroglia93 commented on #96
@beerisgood
I look like the mediator of the united nations

However nextdns has added this features in the meantime
https://github.com/nextdns/metadata/commit/336240aab819cb9bd3179379bbf4b70f686be006

[2020-05-05 03:22] beerisgood commented on #96
@scafroglia93 so they block these domains? Sad then
I don't use their DNS

[2020-05-05 05:25] specter78 opened #98 "Suggestions for blacklist"
- geoapi.indiatimes.com
- geoapiet.indiatimes.com
- geo.thehindu.com
- firebaselogging-pa.googleapis.com
- test-app.link
- mobileads.indiatimes.com
- growthrx.in
- geoip.hotstar.com
- sitecheck.opera.com

[2020-05-05 06:14] scafroglia93 commented on #96
You are not obliged to activate the function, you can choose

[2020-05-05 12:17] anudeepND commented on #95
@scafroglia93 Sorry for the late response. I can't remove any without looking why it was blocked in the first place.

Removed domains:
assets.adobedtm.com (even though it is a tracker it has affected many people)
etl.tindersparks.com
loggly.com
vidible.tv

[2020-05-05 13:00] anudeepND commented on #95
@scafroglia93 Sorry for the late response. I can't remove any without looking why it was blocked in the first place.

**Removed domains:**

assets.adobedtm.com (even though it is a tracker it has affected many people)
etl.tindersparks.com
loggly.com
vidible.tv
yui.yahooapis.com

**Domain that remains blocked:**
1. ` s0.2mdn.net`
It is a well known [tracker](https://better.fyi/trackers/2mdn.net/) b

[2020-05-05 13:03] anudeepND commented on #98
@specter78 Can you provide some insights about these domains (like full URL, screenshots etc)? Are you using mobile apps for news sites such as  `indiatimes.com` and `thehindu.com`

[2020-05-05 13:09] specter78 commented on #98
I've been using these sites on both apps and browser and detected these domains through DNS logs. I had these domains blocked for >2 weeks and haven't come across any issue.

[2020-05-05 13:13] specter78 commented on #98
Don't have these.

I've been using these sites on both apps and browser and detected these domains through DNS logs. I had these domains blocked for >2 weeks and haven't come across any issue.

[2020-05-05 13:26] anudeepND commented on #98
@anudeepND Okay. I have added growthrx.com and firebaselogging-pa.googleapis.com in https://github.com/anudeepND/blacklist/commit/55424d24d37ae53bc0af2adc7e1ad7ffb7ac71b6. `*.app.link` is used as a link to open the website content on the native app if it's installed, so blocking this may cause problem to many users

[2020-05-07 04:18] git-anish opened #99 "suggestion - sjv.io"
Hey,

services like http://refurb-tracker.com/ and Aeroplan.ca affiliate links use sjv.io - specifically apple.sjv.io

I think this domain should be unblocked from the list due to it being an affiliate link rather than a adserver or tracker

It breaks fairly useful services

thoughts on removing it from your list?

Regards,

Anish S

[2020-05-07 05:30] anudeepND commented on #99
@git-anish Thanks for reporting. I have removed them in the latest update. However they perform pixel tracking but I don't have anything to test it

[2020-05-07 05:30] #99 closed

[2020-05-07 05:46] git-anish opened #100 "Yahoo Video false positive"
video-api.yql.yahoo.com

^ blocking this URL will lead to all videos served on Yahoo's news platform being blocked

[2020-05-07 07:21] #100 closed

[2020-05-07 17:45] git-anish opened #101 "go.skimresources.com - false positive"
Hey,

go.skimresources.com

is a false positive, if blocked it will block affiliate links from websites like redflagdeals.com

Regards,

Anish S

[2020-05-07 17:46] git-anish commented on #101
this might also be the case for other skimresources.com URLs but i'm not sure

I've only tested go.skimresources.com

[2020-05-07 22:55] petersmagnusson opened #102 "should "ads.twitter.com" be on here?"
blocking it means blocking Twitter dashboards etc.  is this domain used in other ways?  i don't think it's used to deliver ads other than if you're on twitter (or?).

[2020-05-08 22:09] FBN7nbF4t7e2Y opened #103 "Consider whitelisting *.trafficdeposit.com"
Traffic Deposit is like a CDN for porn. I’m sure it has Ads on it, but it has other videos too. For example, blocking it breaks all the free videos on the porn site: sxyprn.com

Please whitelist it.

[2020-05-09 05:35] anudeepND commented on #103
@FBN7nbF4t7e2Y Thanks for reporting. Removed in the latest update

[2020-05-09 05:35] #103 closed

[2020-05-09 06:38] anudeepND commented on #102
@petersmagnusson It is blocked on almost all host files. However after looking at the documentation I couldn't find any code that includes `ads.twitter.com`. I will remove it in the next update

[2020-05-09 06:42] #102 closed

[2020-05-09 06:50] anudeepND commented on #101
@git-anish They track users using invisible pixels. perform behavioral analysis and targeted advertising. For more information take a look at:
https://better.fyi/trackers/skimresources.com/
https://whotracks.me/trackers/skimlinks.html/

They operate under different domains such as redirectingat.com and skimlinks.com, currently they're not present in the list. I will add them in the future updates

[2020-05-09 06:50] #101 closed

[2020-05-09 06:51] #96 closed

[2020-05-10 01:23] ajayramaswamy opened #104 "adservice.google.*"
I see that you only have adservice.google.com and adservice.google.co.in but it seems to exist in all tlds of google - so I pulled the list of all google domains from nextdns-metadata and created this list

[adservice_google.txt](https://github.com/anudeepND/blacklist/files/4604985/adservice_google.txt)

[2020-05-10 02:33] MrWaste opened #105 "New Domain you should add to the list"
Everything in this list should be blocked :)
Sorry for the huge list, I have a full lists I create from scratch. I do have alot more if you want them!!
If I could help out here that would be great like a contributor.

img.img-taboola.com
I had this one pop up a month ago for some reason and after blacklisting it, no problems with websites.

ascstats.iobit.com
Proof:
https://threatintelligenceplatf

[2020-05-10 14:15] beerisgood commented on #105
report-uri.com is a legit site

[2020-05-10 19:37] MrWaste commented on #105
Ok, but how come is it in a different list? The top list, I have been looking and it doesn't seem

Proof:

![34](https://user-images.githubusercontent.com/49108816/81508726-b7983780-92ba-11ea-962f-9c6e754903ac.png)

![35](https://user-images.githubusercontent.com/49108816/81508776-0776fe80-92bb-11ea-922b-14e7dd2f64f7.png)

You go to the site and look at it.

https://report-uri.com/

[2020-05-10 20:01] llacb47 commented on #105
`version.bind`

?

[2020-05-11 01:31] spirillen commented on #104
Since they all links to `pagead46.l.doubleclick.net.` I'll believe that should cover it :smiling_imp:

That would also keeps the file smaller
(tested via quad9 as they are all blocked by regex at my end.)
[code]

[2020-05-11 02:07] spirillen commented on #105
Hmm you are talking about privacy protecting submissions, yet you are linking to the worst spyware/adware/trackware/privacy invasive domain out there... `google.com`!!

Beside of that, you have some good submissions. I would look at to my list. Thanks for those :smiley: :beer:

[2020-05-11 03:14] beerisgood commented on #105
It's a server side service which don't need to be blocked.
Also I don't know your posted 2 "top" lists. This is just a false positive and I don't see it on many other filterlists

[2020-05-11 20:28] MrWaste commented on #105
beerisgood,

The reason why you don't see ascstats.iobit.com because you haven't installed Advanced System Care on your system. When you have the requests start to go through.
[Click Here, Website](https://www.iobit.com/en/advancedsystemcarefree.php)

[2020-05-11 20:33] MrWaste commented on #105
spirillen,

When you said "I would look at to my list." do you mean I would look to add to my list? or something else?

[2020-05-11 20:37] MrWaste commented on #105
llacb47,

version.bind has vulnerabilities built into itself if you have no firewall up for port 53/dns traffic.

[version.bind Link](https://kb.isc.org/docs/aa-00913)

[2020-05-12 12:14] specter78 commented on #98
You added `firebaselogging.googleapis.com` and not `firebaselogging-pa.googleapis.com`, though first one is also required.

[2020-05-12 12:57] spirillen commented on #105
my list = <https://www.mypdns.org/source/Matrix/>

[2020-05-14 19:18] andre-bisa opened #106 "Unblock aforismi.meglio.it"
The site aforismi.meglio.it should be unblocked, it's not an ads server

[2020-05-15 01:22] MrWaste commented on #105
oh ok

[2020-05-26 03:23] p1r473 commented on #73
Thanks for this!

[2020-05-27 01:55] dnmTX opened #107 "[invalid/misspelled] domains"
@anudeepND there are two i believe are misspelled and therefore rendered invalid:

`0.0.0.0 deploy.propellerads.comm`
`0.0.0.0 pls.marketo.comm`

If i'm correct,removal is in order.Thank you 👍

[2020-06-03 16:53] XhmikosR opened #108 "code.ionicframework.com FP?"
Hi, there.

I was wondering, what's the reason for blocking code.ionicframework.com?

Thanks!

[2020-06-04 21:19] zappe opened #109 "False positive - schibsted.com"
This is a company website

[2020-06-12 03:14] ACMEd opened #110 "Forms/surveys on Qualtrics domains"
Take a look at lightswitch05/hosts#178.
Although Qualtrics is an analytics company, many `*.qualtrics.com` sub domains are used for forms and surveys.

[2020-06-20 00:32] TheNoobWar opened #111 "statics.streamable.com"
`statics.streamable.com` is a false-positive. It will not display streamable.com webpage, a low-bloat video hosting platform.

[2020-06-20 01:21] spirillen commented on #111
[streamable.com](https://www.mypdns.org/T926) is no more than google/youtube, we try to simulate we are serving videos, but in reality we are trackware....

[2020-06-20 22:16] kylerchin opened #112 "Proposal to rename this repo to blocklist or denylist"
There is a huge problem in tech where Black/White is used to mean allowing or denying. There is also a movement within tech to change this. That's why I'm asking you to change this repo's name as well as instances within composer.json and markdown files. Together, we can make Tech more inclusive.

Thanks,
Kyler

[2020-06-28 19:15] spirillen commented on #112
What is excluding by using white/black-list?

Why is the filtering called by these names?

Why should the usage of these 20+ years old names be a `huge problem`?

[2020-07-02 18:16] kylerchin commented on #112
@spirillen Just because the names have been engrained into tech, doesn't mean it's right to use segregating names. The truth is that these colours were used in segregating housing, buses, dining areas, churches, queue lines, and all areas of society.  FOr example: Black drinking fountain and white drinking fountain. The terminology carried over to the early days of tech, segregation engrained into

[2020-07-03 01:21] spirillen commented on #112
These things have nothing to do with each other..... and have whitelist for the light/bright/good, not skin color and the black comes from the darkness/shadows and it also have an religious ref. in the dark and white angels.

In short, the whitelist is representing/synonym for the good in the light and the black is a ref to the darkness where all cats are grey in the night.
There are NON referrals

[2020-07-03 17:15] cyborgspider commented on #112
You're on the wrong side of history here, spirillien. Just change the damn name, the dark angels and white angels won't be offended.

[2020-07-07 09:34] markusdresch commented on #112
changing this would alienate many international devs without improving anything. context matters and blacklist does not have to do anything with skin color. if you'd stop to categorize people as "black" or "white", you'd actually do something against racism. changing references to (non-skin) color does not!

[2020-07-15 02:04] PureFallen commented on #111
`statics.streamable.com` is a bit tricky. While it is possible to watch shared videos submitted over `streamable.com` when the domain is blacklisted, the website itself seems to be delivered from `statics.streamable.com`, including the actual UI around the video and the ability to upload new ones.
While @spirillen ´s concern is completely reasonable, the whole situation puts us on the conflict of

[2020-07-16 01:09] spirillen commented on #111
I would defiantly like to dispute that :smile:

A god blacklist should protect users against this, even if the webdesigner have broken the frontend by adding spyware tp the site. <https://www.mypdns.org/source/Matrix/browse/master/README.md$39>

[2020-07-16 17:03] PureFallen commented on #111
If we would go with that approach, we would probably need to go ahead and wildcard several Google Websites as well. Yes - it would probably be the better approach to not use them in first place, but that doesn't prevent others from doing so.
I don't really care about the Website UI, more of the Upload Functionality that is affected by that block. Not that streamable.com gonna complain at some poin

[2020-07-16 17:17] llacb47 commented on #111
`What did we write in the previous answer? Are you stupid?` (https://www.mypdns.org/source/Matrix/browse/master/README.md$39)

@spirillen feel free to email every website here and tell them that they are stupid. https://publicwww.com/websites/%22googleapis.com%22/ I'm sure they will appreciate it. Like it or not, millions or websites use third-party assets for convenience and speed. Calling them s

[2020-07-16 21:01] spirillen commented on #111
Hey @PureFallen Thanks for your point and good tone to the debate and argumentation :+1:

[2020-07-21 09:38] janw commented on #112
Wow. The folks arguing against this proposal should really check their (to be assumed white) privilege here. [Words matter](https://twitter.com/michaelmontano/status/1278747064701038592), and disregarding inclusionary language as (of all things!) alienating and "not improving anything" is a blatant example of why it is all the more important to raise awareness, and to press for these changes to ha

[2020-07-21 10:33] markusdresch commented on #112
and it's [being kept as is](https://github.com/openssl/openssl/pull/12089#issuecomment-642297519), whether you like it or not.  you are trying to police internationally established language with no racial connotation whatsoever. and you should work on getting down your perceived high horse and stop sounding so condescending, different people have different opinions.

i give you that: words do matt

[2020-07-21 19:49] spirillen commented on #112
Not to mention a couple of hundreds RFC-standards using white/black-list. Are you going to change all of chose two, because somebody is taking things out of contexts? That would simply not make sense.

The best anyone can do, it to enlighten people of what is up and what is down. In this case that was pointed out earlier in this issue.

[2020-07-29 16:46] holdit opened #113 "del.icio.us false positive"
I don't know if it did something shady before, but the "del.icio.us" domain seems to be ok now. The original bookmarking service will be relaunched this summer.

There's a discussion about this on hacker news: https://news.ycombinator.com/item?id=23984503

[2020-07-30 16:02] mkb2091 opened #114 "s-media-cache-ak0.pinimg.com potential false positive"
s-media-cache-ak0.pinimg.com blocks access to https://s-media-cache-ak0.pinimg.com/originals/28/86/42/288642dec69cb52611e17a2afadc940e.jpg. That url is redirects to https://i.pinimg.com/originals/28/86/42/288642dec69cb52611e17a2afadc940e.jpg which isn't blocked, and, is an image from a video game.

The original url is found in duckduckgo image search results: View file at https://duckduckgo.com/?t

[2020-08-06 01:52] CyanoTex opened #115 "www.bing.com - false positive"
``www.bing.com`` is blocked. False positive.

[2020-08-06 04:19] dnmTX commented on #115
No,it's not blocked !

[2020-08-06 05:13] kowith337 commented on #115
Did you've use Windows Spy Extra or something that block some domains from `Microsoft`?

[2020-08-06 14:28] CyanoTex commented on #115
![Screenshot_20200806-152719739 (1).jpg](https://user-images.githubusercontent.com/62466866/89543912-cdf25880-d801-11ea-82a2-e21c95cff67a.jpg)

[2020-08-18 00:32] Ghalid opened #117 "Suggestion: lptag.liveperson.net"
A lot of subdomains of `liveperson.net` are blocked by this list. I saw a request to `lptag.liveperson.net` (specifically, the resource `https://lptag.liveperson.net/tag/tag.js`, which seems to be a tracking script?), and it seems that this domain is missing from the list.

[2020-08-19 05:36] #115 closed

[2020-08-30 14:28] anudeepND commented on #117
@Ghalid Thanks for the info. I will take a look at these domains

[2020-08-30 14:29] anudeepND commented on #114
@mkb2091 Thanks for the info. It will be removed in the next update

[2020-08-30 14:31] anudeepND commented on #113
@holdit looks like a false positive to me. Thanks for reporting. I will remove it in the next update

[2020-08-30 14:43] anudeepND commented on #112
Thanks for the inputs on this topic everyone. These names have been in the tech world for a long time. I don't like the idea of comparing it to a particular community. These terms has been industry standard for quite some time.

Also I may need to change the branch `master` to something else. This is not possible because it would break the raw link since the repo doesn't have an alternative mirror

[2020-08-30 14:49] anudeepND commented on #111
@TheNoobWar can you please provide me some screenshots? Does the video playback works fine? streamable.com is blocked by my ISP :(

[2020-08-30 14:51] anudeepND commented on #110
@ACMEd thanks for reporting. Will be removed in the next update.

[2020-08-30 14:52] #95 closed

[2020-08-30 14:53] anudeepND commented on #109
@zappe sorry for the late reply. It will be removed in the next update

[2020-08-30 14:53] anudeepND commented on #108
@XhmikosR it was added by mistake. Will be removed in the next update.

[2020-08-30 14:54] anudeepND commented on #107
@dnmTX sorry for the late reply. I will remove it in the next update

[2020-08-30 14:58] anudeepND commented on #104
Thanks for the info @ajayramaswamy. Sorry for the late reply, I will add it in the next update

[2020-08-30 14:58] anudeepND commented on #106
Sorry for the late reply @andre-bisa. I will remove it in the next update

[2020-08-30 15:00] anudeepND commented on #105
Sorry for the late reply everyone. I will take a look at the info provided and add it the next update.

[2020-08-31 11:45] spirillen commented on #105
@MrWaste Do you have any deeper details of why you think `ascstats.iobit.com` should go into any block-lists?

The name itself suggest tracking, but what does it do?

Have you tried to block it for a longer periods of time? IF == yes, what happens?
  - I do not see any usefully information for why this should be blocked on there website nor there privacy policy, the harvester is yet again google..

[2020-08-31 12:37] spirillen commented on #109
https://sdk.pulse.schibsted.com/#tracking-guide

https://whotracks.me/trackers/schibsted.html

[2020-08-31 17:41] #113 closed

[2020-08-31 17:41] #106 closed

[2020-08-31 17:41] #114 closed

[2020-08-31 17:42] #111 closed

[2020-08-31 17:42] #112 closed

[2020-08-31 17:43] anudeepND commented on #108
Fixed in. https://github.com/anudeepND/blacklist/commit/d6e6b629a6e4a7d9abb6d6b5fd35e22c69e05fb7. Closing

[2020-08-31 17:43] #108 closed

[2020-09-04 14:56] p1r473 opened #119 "api.lever.co"
Hi,
Level is a recruitment tool. I believe the API is not malicious and not advertising related.
I believe this domain may be a false positive.
https://github.com/EnergizedProtection/block/issues/548#issuecomment-686851791

[2020-09-04 16:49] anudeepND commented on #109
@spirillen Thanks for the links. It's a tracker, it will not be removed.

[2020-09-04 16:49] #109 closed

[2020-09-04 16:53] anudeepND commented on #119
@p1r473 Thanks for the report, the domain is removed in the latest update.

[2020-09-04 16:53] #119 closed

[2020-09-05 09:56] spirillen commented on #109
NP, I had them in my own issue for the $domain :smiley:

[2020-09-09 16:16] Marek33 opened #120 "Otnolatrnup.com"
should be blocked, since it's a redirecting site on the Mediafire, with ads and which seems to have a malware as well.

[2020-09-09 17:51] anudeepND commented on #120
It's already blocked in my pi-hole, there's a huge list of domains that I will be adding this week.

[2020-09-09 17:55] Marek33 commented on #120
That's good to hear, and I will be waiting for that!

[2020-09-10 10:19] crssi opened #121 "cnn.com breakage due to data.api.cnn.io"
Visit `https://edition.cnn.com/middleeast/live-news/lebanon-beirut-explosion-live-updates-dle-intl/index.html` and you will notice a breakage due to `data.api.cnn.io` listing.

Cheers

[2020-09-10 11:07] anudeepND commented on #121
Can confirm. Thanks for reporting, it will be removed in the next update.

[2020-09-10 12:39] crssi commented on #121
You are a 💎 😄

[2020-09-11 11:39] anudeepND commented on #86
Added to the [wiki](https://github.com/anudeepND/blacklist/wiki/Whitelist-Guide)

[2020-09-11 11:40] #86 closed

[2020-09-11 12:06] #121 closed

[2020-09-11 12:06] #107 closed

[2020-09-15 22:07] spirillen commented on #86
Which wiki?? It seems disabled to me and therefore redirects to https://github.com/anudeepND/blacklist

[2020-09-16 04:30] anudeepND commented on #86
Wiki has been moved to readme.md for better visibility

[2020-09-16 05:59] #98 closed

[2020-09-16 06:01] #120 closed

[2020-09-16 06:01] #117 closed

[2020-09-16 06:02] anudeepND commented on #105
I have added few domains, I will add others after some testing

[2020-09-16 06:02] #105 closed

[2020-09-16 06:02] #104 closed

[2020-09-20 17:31] benzimmer opened #123 "Blocking clients6.google.com prevents meetings/calls on meet.google.com and duo.google.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-09-20 19:06] anudeepND commented on #123
@benzimmer Thanks for reporting. It was added by mistake, i will remove it ASAP

[2020-09-20 19:07] #123 closed

[2020-09-21 11:03] anudeepND commented on #110
@ACMEd I have removed `*.qualtrics.com` domains, only necessary domains will remain in the list

[2020-09-21 11:03] #110 closed

[2020-09-22 07:26] OmgImAlexis opened #124 "Rename repo to block-list?"
In keeping up with https://github.com/github/renaming it'd be nice to have this repo and https://github.com/anudeepND/whitelist updated to be deny-list and allow-list respectively.

Since GitHub will forward the old names over this shouldn't be much of a chance nor should I cause any issues for users.

[2020-09-23 09:49] anudeepND commented on #124
This has been already discussed - https://github.com/anudeepND/blacklist/issues/112

[2020-09-23 11:04] OmgImAlexis commented on #112
Changing the name wouldn’t cause any issue as the redirect works. Changing the branch would but I’m sure GitHub is going to address that later this year when they add the migration tools in.

[2020-09-23 19:22] #124 closed

[2020-09-23 19:26] OmgImAlexis commented on #112
It’s honestly sad that you’re all acting this way. A simple name change wouldn’t harm anyone. You’re kinda acting like a child. 💁‍♀️

[2020-09-24 08:01] markusdresch commented on #112
trying to force your opinion on everyone else is childish and asocial behavior. stop trying to police and restrict everyones language and start accepting or at least tolerating other peoples opinions. this issue is completely off topic.

[2020-09-24 10:37] spirillen commented on #112
What is a name change should help??? in the unrelated context you are trying to a chief? nothing!!!

Why is it so hard to accept knowledge over individual words taken out of context?? Is it the fact that the AdWare and tracking business have reached there coal of en-stupid people enough to no longer accept facts?

@OmgImAlexis I'm guessing your next project would be all religion and religious scri

[2020-09-24 21:27] aguacater opened #125 "The "googlevideo.com" domain cripples YouTube."
Maybe erasing these from the list will fix it.

0.0.0.0 cache1.googlevideo.com
0.0.0.0 cache.googlevideo.com
0.0.0.0 c.googlevideo.com

[2020-09-26 05:58] anudeepND commented on #125
@aguacater Sorry for the late reply, I will remove them in the next update

[2020-09-26 06:01] #125 closed

[2020-10-03 11:16] crssi opened #126 "syndication.twitter.com"
Hi

I can see that `syndication.twitter.com` leads to breakages on pages with twits since it listed in your blacklist.

Just saying, its not even a request, but just out of curiosity... is there a reason to be listed?

Thank you and cheers

[2020-10-03 11:43] anudeepND commented on #126
This was added back in 2018. Do you have any links or screenshots about the issue?

**More info:**

- Flagged as tracker by https://whotracks.me/trackers/twitter_syndication.html
- The domain is also blocked in [EasyList](https://easylist.to/easylist/easyprivacy.txt)

![chrome_XKBScVEy4h](https://user-images.githubusercontent.com/26179946/94990661-85ee7880-059b-11eb-905d-b9f8dc53258f.png)

[2020-10-03 12:40] crssi commented on #126
Sure.. here is one example site `https://www.24ur.com/novice/korona/neuradno-v-petek-novih-227-primerov-okuzbe.html`

Maybe the rule `||syndication.twitter.com^` was sometime in the past in `EasyList`, but it is not the anymore.

Cheers

[2020-10-03 19:00] zappe opened #127 "builder-assets.unbounce.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-10-03 19:01] zappe opened #128 "d9hhrg4mnvzow.cloudfront.net"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-10-05 16:51] anudeepND commented on #126
Thanks for the link, I can confirm that it is a false positive. It will be removed in the next update.

[2020-10-05 16:52] crssi commented on #126
No problem mate.

Wish you all best and thank you for your work

[2020-10-05 16:57] anudeepND commented on #128
Thanks for reporting, can confirm the issue. I will remove the domain in the next update.

[2020-10-05 16:58] anudeepND commented on #127
Thanks for reporting, can confirm the issue. I will remove the domain in the next update.

[2020-10-05 17:02] #126 closed

[2020-10-05 17:02] #128 closed

[2020-10-05 17:02] #127 closed

[2020-10-21 21:54] MrWaste opened #129 "More domains that should be blocked: Request"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s): Add more to your lists, here. Check these out.
Type `x` in

[2020-10-21 21:56] MrWaste commented on #129
If you want more domains I have more, just message me if interested.

[2020-10-25 13:54] scafroglia93 opened #130 "whatsapp"
This domain was found inside my firewall ->

privatestats.whatsapp.net

Could it be a blocking domain used for metrics ?

[2020-10-27 14:56] spirillen commented on #130
The domain name suggest it at least. It could also be something else, are you capable of posting a full interaction log?

[2020-10-28 23:24] ignoramous opened #131 "add embrace.io, a tracker, to the blacklist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-11-07 20:14] MrWaste commented on #129
@spirillen

Please add Watson Telemetry
watson.alpha.telemetry.microsoft.com
watson.df.telemetry.microsoft.com
watson.telemetry.microsoft.com.nsatc.net
watson2.alpha.telemetry.microsoft.com
watson7.alpha.telemetry.microsoft.com

DeveloprDan has tons for great different domains that should be blocked.
https://www.github.developerdan.com/hosts/lists/ads-and-tracking-extended.txt

[2020-11-07 20:21] MrWaste commented on #131
How did you find this? @ignoramous
Which app if any?

[2020-11-08 10:43] crssi opened #132 "Breakage at gitlab.com due to consent.cookiebot.com"
Visit `gitlab.com`. You **must not** be signed-in.

1. Click on `magnify glass` and observe message under search field.
2. Allow `consent.cookiebot.com`, clear cache, hard reload site and repeat step 1.

Cheers

[2020-11-08 18:35] crssi opened #133 "Breakage due to tracking.s24.com"
Steps to reproduce:

1. Visit `https://www.vergleich.org/chilimuehle/`
2. In the last row and second cell of comparison table, find image/icon `OTTO` and click on it.

Cheers

[2020-11-09 08:59] crssi opened #134 "Breakage on amway.si due to tags.tiqcdn.com"
Login at `https://www.amway.si/` is broken due to `tiqcdn.com` and `tags.tiqcdn.com`

Cheers

[2020-11-09 12:08] ignoramous commented on #131
Stumbled upon it randomly. Haven't seen any app use it so far, but then again I don't use very many apps.

[2020-11-09 18:00] dnmTX commented on #131
@ignoramous blocking `embrace.io` will just block their home page and nothing else. You either provide the tracking **sub**-domains or close that issue altogether. There is just no point.

[2020-11-09 20:11] crssi commented on #133
OMG, wrong place to post.

Please, forgive me my mistake.

Cheers

[2020-11-09 20:11] #133 closed

[2020-11-10 02:20] spirillen commented on #129
Hey @MrWaste Could you do me a favor and add it to https://www.mypdns.org/T599 ? I'll be happy to add them tomorrow. (past bedtime now)

[2020-11-10 02:49] spirillen commented on #132
Hi @crssi I can't replicate that and I have blocked `cookiebot.com` for quit some time now... <https://www.mypdns.org/search/query/j8l7kKp71Hjk/#R>

[2020-11-10 06:24] crssi commented on #132
That is very strange... will make a screen recording later today and post it here.

Cheers

[2020-11-11 10:39] crssi commented on #132
You are right. It seem to be only cosmetic annoyance nagging about cookies not being accepted... and those cannot be accepted when `cookiebot.com` is blocked, but no functionality seems to be broken.

Will close this now and reopen/open when/if a real breakage is to be found.

Thank you and cheers

[2020-11-11 19:46] spirillen commented on #134
The challenge as I see it is that tiq is to be considered [BadWare](https://en.wikipedia.org/wiki/Malware) by default, do to the way the `utag.js` is operating (obfuscating) third party SpyWare, Adware, Tracking pixels etc.

I can see in the history book that this domain have it's own debates over the time. However, it is listed, then delisted and then listed again, it seems like a never ending re

[2020-11-17 13:11] anudeepND commented on #134
Thanks for the detailed info @spirillen , how bad is the issue @crssi can you post the screenshot?

[2020-11-17 13:12] anudeepND commented on #131
Sorry for the late reply everyone. @ignoramous this domain will be added in the next update

[2020-11-17 13:14] anudeepND commented on #131
@MrWaste  You should try [HTTP Canary](https://play.google.com/store/apps/details?id=com.guoshi.httpcanary&hl=en&gl=US) app, I use it on my old phones to find trackers and bad domains

[2020-11-17 13:17] anudeepND commented on #130
hmmm...I use WhatsApp on almost all of my devices and this domain never appeared in my logs. However, the hostname itself tells that it is some kind of telemetry so I will add it to the list

[2020-11-17 13:22] anudeepND commented on #132
@crssi Blocking `cookiebot.com` breaks the consent form right? I think this domain should be removed so that users can either decline or accept (or allow certain cookies only)

[2020-11-17 14:07] crssi commented on #132
Yes. That is exactly right.

[2020-11-17 14:19] spirillen commented on #129
Hey @anudeepND you might have a peek into these as well. Currently I haven't checked these up by my self yet, but for the appearance they look like something the telemetry is CNAMEd to.

[code]

I found these in the zone DB...

[2020-11-17 14:21] crssi commented on #134
Just checked again and it looks like they made a change on their login and there is no breakage at login ATM.

Can we, please, set this issue on hold?
Should I close it and reopen if needed?

[2020-11-17 14:24] #134 closed

[2020-11-17 17:00] spirillen commented on #130
Hey @anudeepND The reason I wouldn't just add is, potential, this can also be referring to some kind of chat history or however that trackware (fakebook) is operating, and why I would prefer some more details in advance, more than just react bases on a name suggestion/references.

@scafroglia93 have you tried to block it locally ? if so, what happened?

[2020-11-17 17:17] anudeepND commented on #130
I agree, it needs more testing. Also WhatsApp maybe A/B testing something so this domain is not in my logs.

I will setup a dummy whatsapp app in one of my older phone and capture the packets, I will update my findings here

[2020-11-17 17:20] anudeepND commented on #132
I have seen several websites that automatically assumes that you're agreed to set tracking cookies when you start browsing without accepting or denying the consent form. So it is better to remove the domain from the list

[2020-11-17 17:33] spirillen commented on #132
Hmm if they do this within EU, they will be looking at a heavy fine according to the EU curt ruling last September (2019) :smile: Which is also one of the only positive thing about the GDPR, as nobody reads the policies, they just lie a clicks yes. Next to this the lies about "necessary" :cookie: which is 0 for ordinary browsing.

So for the EU citizens I would recommend keeping the record to help

[2020-11-18 00:37] spirillen commented on #130
As my bell was ringing on this record(as seen before somewhere), I looked it up at <https://hosts.ubuntu101.co.za/app/contents/>, but it isn't there...

[2020-11-21 16:54] anudeepND commented on #132
As I suspected, there are two methods:

![firefox_00y3h6O4XA](https://user-images.githubusercontent.com/26179946/99882667-35fd6b00-2c48-11eb-90d4-832efa192e0a.png)

I will remove this domain from the list

[2020-11-21 16:56] anudeepND commented on #132
Thanks @crssi for reporting. Closing

[2020-11-21 16:56] #132 closed

[2020-11-21 17:11] #131 closed

[2020-11-21 23:50] spirillen commented on #132
I have just tested this from a non EU ip

![image](https://user-images.githubusercontent.com/44526987/99890143-841c6980-2c5c-11eb-8e2f-65490d60070d.png)

Damned ... :thought_balloon:  happy I'm moving all my issues from GH/GL... :thought_balloon:

[2020-11-27 10:58] vinothvkr opened #135 "Domains are not blocked by Pi-hole"
I have a testing setup at home. Pi-hole -> Pfsense with pfblockerng. Both have adserver.txt setup in list.
I found that below few domains are not being blocked by Pi-hole but blocked by pfblockerng.

- bifrost-api.hotstar.com
- snippets.cdn.mozilla.net
- v10.events.data.microsoft.com
- vortex.data.microsoft.com
- eu1-spiky.wzrkt.com
- cf.hermes.wshareit.com

[2020-11-28 09:03] crssi commented on #132
Sorry @anudeepND, we have also problem with `consent.cookiebot.com.edgekey.net` which is inline with the domain/host reported here.

Or should I open a new issue?

Thank you

[2020-11-28 09:04] anudeepND commented on #132
I will remove it in the next update, no need to open the new issue

[2020-11-28 09:05] crssi commented on #132
You are a 💎 . 😄

❤️

[2020-11-28 13:58] anudeepND commented on #132
`consent.cookiebot.com.edgekey.net` is not present in the list

[2020-11-28 17:06] dnmTX commented on #132
looks like a CNAME and NextDNS blocks them as well.
So whatever domain is tight to it are both being blocked.

[2020-11-28 17:12] crssi commented on #132
No, its not. Its only me needing a new pair of glasses and check the right browser tab before asking. 😢
I am sorry for false alert.

Cheers

[2020-11-28 17:17] anudeepND commented on #132
@dnmTX do you have any additional info?

[2020-11-28 18:16] dnmTX commented on #132
@anudeepND  found two recent examples(there are more,i just got sick searching 😉 ) which concluded,at least to me that
NextDNS engaging in wildcard and CNAME blocking and it could be even more:
https://github.com/StevenBlack/hosts/issues/1452
https://github.com/StevenBlack/hosts/issues/1389
You be the judge 😄

[2020-11-28 18:36] crssi commented on #132
@dnmTX
@anudeepND already did the change removing `cookiebot.com` and with that his list has nothing to do with the `consent.cookiebot.com.edgekey.net` anymore, not even over CNAME lookup.
I wanted to post an issue for the `consent.cookiebot.com.edgekey.net` to `1Hosts` and to `OISD` which I had already opened in another browser tabs and I have mistakenly "harass" @anudeepND.

[2020-11-28 18:39] dnmTX commented on #132
@crssi i do believe me and @anudeepND  discussing NextDNS which has nothing to do with your resolutions/requests here.

[2020-11-28 18:41] anudeepND commented on #132
No worries :) @crssi

[2020-11-28 18:41] crssi commented on #132
Oh... I see. 👍

[2020-11-28 18:43] anudeepND commented on #132
@dnmTX thanks for the links, CNAME blocking makes it more difficult to maintain the hostfiles, I dunno how many false positives are lurking in the list 😅

[2020-11-28 18:52] dnmTX commented on #132
Many complaints/issues showing from Pi-Hole as well. At least over there is straight forward,if the domain is on the list it will block it's CNAME and that's it.
On the other hand with NextDNS,if you have listed some CNAME it will block it and it will also block whatever domain(s) are tight to it,even though the domain is not present in any list.

Either way removing CNAME(s) because of that reaso

[2020-12-01 11:37] anudeepND commented on #135
@vinothvkr `bifrost-api.hotstar.com` and `cf.hermes.wshareit.com` is already in the list. `v10.events.data.microsoft.com` was removed because it affects XBox Live achievements.

`snippets.cdn.mozilla.net` is not a tracker or advert. It can be turned off in settings - [Mozilla FAQ](https://support.mozilla.org/en-US/kb/snippets-firefox-faq)

[2020-12-01 11:37] #135 closed

[2020-12-09 07:44] MrWaste commented on #129
*Update*

I have found other domains that should be block for many reasons. I update this list when I see more trackers on my network, I have found more. You should check out the list! If you want to know that those domains are, I can tell you directly. I always remember those trackers or ads..

https://github.com/MrWaste/Ad-BlockList-2019-08-31/blob/master/Pi-Hole%20BackUps/Black%20List/All%20Ser

[2020-12-09 07:47] MrWaste commented on #129
Better understanding of gstatic and what's it doing.
https://better.fyi/trackers/gstatic.com/

Found these on websites.

p2-c7yk5kcwmqtue-n3glbwsb7bbwlgti-552937-i2-v6exp3.ds.metric.gstatic.com
p2-c7yk5kcwmqtue-n3glbwsb7bbwlgti-if-v6exp3-v4.metric.gstatic.com
p2-dpsxu5sk7khww-soevxgedvzl2khm5-989853-i1-v6exp3.v4.metric.gstatic.com
p2-dpsxu5sk7khww-soevxgedvzl2khm5-989853-i2-v6exp3.ds.metric.gstati

[2020-12-09 08:24] dnmTX commented on #129
@MrWaste just run Chrome with `--metrics-recording-only` switch. Those domains can not be blocked in hosts file,they're generated on the fly from the browser itself.

[2020-12-09 21:52] MrWaste commented on #129
@dnmTX
I'm using brave, uses the same code as Chrome.
How do I run this inside of chrome?
k, Thanks

[2020-12-09 22:40] dnmTX commented on #129
You can do it as long as it Chrome/Chromium. Also basic Googling from your side would've help,don't you think?
![Chromium](https://user-images.githubusercontent.com/34774426/101697316-3f0a7c80-3a3d-11eb-80dc-171489f8498f.png)

[2020-12-10 00:25] dnmTX commented on #129
@MrWaste  make sure to leave **space** between the end of "Target:" line and the command line switch:
.......................Brave.exe" --command-switch

[2020-12-10 00:28] MrWaste commented on #129
Thank You so much

[2020-12-11 00:59] Snaxeko opened #136 "cdns.eu1.gigya.com"
- [X] Whitelist
- [X] Website Broken

<hr>

### Domain(s):

- Domain(s):

[code]

<hr>

### Details:

- Your Issue Detail:

1. Go to https://www.6play.fr/le-meilleur-patissier-p_1807/episode-10-saison-9-c_12807511 (or any 6play replay video)
2. Doesn't work until you whitelist the domain said above

Normal behavior: ask the user to logging.

_Note: unfortunately you need to install Widevine to tes

[2020-12-11 22:24] tino-codes opened #137 "Bild.de App not working"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-12-13 16:36] anudeepND commented on #137
@tino-codes Issue confirmed. Thanks for reporting

[2020-12-13 16:45] anudeepND commented on #136
@Snaxeko Thanks for reporting

[2020-12-13 16:45] #136 closed

[2020-12-13 16:46] #137 closed

[2020-12-14 08:03] crssi opened #138 "www.simplehuman.com broken due to staticw2.yotpo.com and yotpo.com"
STR:
1. Visit `https://www.simplehuman.com/products/rectangular-liner-pocket-step-can-58l-dual-compartment?variant=30245372067971`
2. Switch between **size** options of the item

**Expected result** would be the item/page is updated accordingly to selection.
**Actual results** are that the page is not updated accordingly to selection and some info/pic vanishes.

The culprit is `staticw2.yotpo.com`

[2020-12-14 08:11] crssi opened #139 "Some new to be blacklisted?... maybe"
On the site `https://klikponudba.com`, there are found many 3rd parties that could be blocked.
I am blocking the following in uBO and nothing brakes:
[code]

Cheers

[2020-12-15 06:58] crssi commented on #139
I have reported the same also to fellow badmojr and here are his suggestions: `https://github.com/badmojr/1Hosts/issues/59#issuecomment-745034513`

More experienced heads together, merrier it is. 😄

Thank you and cheers

[2020-12-17 06:37] Kura-bot opened #140 "Groupees"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-12-17 18:40] crssi opened #141 "email survey broken due survey.euro.confirmit.com"
email survey broken due `survey.euro.confirmit.com`

nothing very important, but annoyance

Cheers

[2020-12-18 21:01] #139 closed

[2020-12-20 18:44] cantunborn opened #142 "tracking.dominos.co.in incorrect"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-12-25 15:10] ignoramous opened #143 "Add PostHog, an analytics alternative to Heap, Amplitude, MixPanel"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2020-12-26 19:24] crssi opened #145 "Should graph.instagram.com be blocked?"
See:
`https://www.reddit.com/r/pihole/comments/bmwywq/is_graphinstagramcom_linked_to_ios_facebook/`
and
`https://github.com/StevenBlack/hosts/issues/1206`

Cheers and wish you best in 2021 🥳

[2020-12-26 19:29] spirillen commented on #145
absolutely, it's tracking, just try do a search here on  GH for that domain or [here](https://www.mypdns.org/T1224) However, some will say not, as it will break some useless shit

[2021-01-02 09:31] notDavid opened #146 "apple.tt.omtrdc.net is blocking payments (through iDeal) at apple.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-03 12:20] Alex-B-Buf opened #147 "add to blacklist logs.amap.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-04 15:10] crssi opened #148 "Not an issue... close at will."
Just wanted to wish you best in the year 2021. 😉

[2021-01-04 23:25] Alex-B-Buf commented on #147
My bad, domain is already in the list

[2021-01-04 23:25] #147 closed

[2021-01-04 23:27] Alex-B-Buf opened #149 "add to blocklist metrics.spbtv.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-05 07:49] crssi commented on #145
Thank you @spirillen

But... It is the same as it is with `graph.facebook.com`.
Or both should be listed and left for end user to allow when needed so, or both should be unlisted and left for end user to deny when needed.

[2021-01-07 10:11] cuetus opened #150 "MTV Suomi crashes on startup, Samsung TV"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-08 12:33] crssi opened #151 "s0.2mdn.net prevents video to play at www.zdnet.com"
Blocking `s0.2mdn.net` prevents video to play at `https://www.zdnet.com/article/apple-adds-support-for-encrypted-dns-doh-and-dot/`

Cheers

[2021-01-09 03:09] spirillen commented on #145
Couldn't agree more :smiley:

[2021-01-09 13:56] spirillen commented on #129
Have not checked if these already is in the list, but found them in my old archives (RPZ) as I was following up on [gstatic.com](https://www.mypdns.org/T67)

[code]

The following have been found active by [pyfunceble](https://github.com/funilrys/PyFunceble)

[code]

[2021-01-10 17:15] Zocker1999NET opened #152 "Whitelist video domain of pr0gram"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-10 18:51] #151 closed

[2021-01-16 22:29] ignoramous opened #153 "Add salpato.numo.in to denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-17 05:40] spirillen commented on #138
This domain is classified for [tracking](https://www.mypdns.org/w/trackware/) <https://www.mypdns.org/T2348>

[code]

Alternative related to this domain is

id | name
-- | --
3009404 | yotpo.com
3377203 | w2.yotpo.com
3377204 | staticw2.yotpo.com
3377205 | p.yotpo.com

My recommendations is to keep it, then users can whitelist it, if they feels like it

[2021-01-17 05:49] spirillen commented on #143
Thanks for your report @ignoramous

[2021-01-17 05:53] spirillen commented on #149
:heavy_check_mark: @Alex-B-Buf

[2021-01-25 20:55] kintaro829 opened #154 "Why is the website blocked?"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-01-28 13:37] crssi opened #155 "www.baidu.com blocked due to cname www.a.shifen.com"
`www.a.shifen.com` is blocked and since it is a CNAME for `www.baidu.com` the latest is also blocked.

Could you, please, remove `www.a.shifen.com`, `a.shifen.com` and `shifen.com`.

Thank you and cheers

[2021-01-30 13:14] #130 closed

[2021-02-01 16:52] 251 opened #156 "Zoom stopped working"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-02-07 19:53] spirillen commented on #130
Hey @anudeepND did you ever find anything on this issue? Did you get the fake-app up and running and testing??

[2021-02-14 00:26] scafroglia93 opened #157 "[whitelist[ bidbarrel.cbsnews.com"
This domain block cbs livestream

Source ->
https://www.cbsnews.com/live/#x

Reference ->
https://github.com/nextdns/metadata/issues/574

[2021-02-16 07:44] crssi commented on #157
`bidbarrel.cbsnews.com` **does not break** the site. 😉

[2021-02-16 14:49] ignoramous opened #158 "Add ConvertFlow domains to denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-02-16 16:04] spirillen commented on #158
Thanks for sharing these founds @ignoramous :100: :trophy:

[2021-02-17 22:51] scafroglia93 opened #159 "[blocklist] track.digital360.it"
founded inside nextdns log

[2021-02-17 22:54] spirillen commented on #159
What does it track?? I agree the name it self is suspect, but what does it do??

[2021-02-17 22:59] scafroglia93 commented on #159
I found this tracker only by browsing from a smartphone

[2021-02-18 07:21] #157 closed

[2021-02-18 08:43] ignoramous opened #160 "Add Factors.ai to the denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-02-18 08:45] ignoramous opened #161 "Add Omappapi.com to the denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-02-22 14:02] 251 commented on #156
Note: stopped working again and I had to whitelist `*.zoom.us`.

[2021-02-22 15:29] ignoramous opened #162 "Add api.rollbar.com to denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-02-22 19:59] spirillen commented on #162
Not checked your file, but have these related from own archive: <https://www.mypdns.org/T3824>

[code]

[2021-03-05 16:02] #154 closed

[2021-03-07 08:53] aravindvnair99 opened #163 "crashlytics.com"
[Firebase Crashlytics](https://firebase.google.com/products/crashlytics) is a lightweight, realtime crash reporter that helps developers track, prioritize, and fix stability issues that erode app quality. Crashlytics saves developers troubleshooting time by intelligently grouping crashes and highlighting the circumstances that lead up to them.

I don't think Crashlytics should be blocked. It's use

[2021-03-08 16:30] kowith337 commented on #163
Just for developers, yes, imight helpful...

But not for consumer level, I think...

[2021-03-08 16:31] aravindvnair99 commented on #163
@kowith337 Ummm I didn't get you... Could you elaborate?

[2021-03-10 06:48] kowith337 commented on #163
I don't know is crashlytics can let users submit errors back to developers manually or not, but many ppls see some requests to subdomain of `crashlytics`, also some `*-pa.googleapis.com` endpoint that also related to that.

That's why I said it's not good for consumers or normal users.

[2021-03-10 08:34] aravindvnair99 commented on #163
@kowith337 There is an option for manual uploading. It's up to the developer to decide whether to implement or not though. Here's the documentation for it: https://firebase.google.com/docs/crashlytics/customize-crash-reports?#enable-reporting

I don't think `*-pa.googleapis.com` is relevant to this. Those domains are different APIs of Google. Each subdomain having it's own function.

[2021-03-17 22:46] #159 closed

[2021-03-25 07:02] harshcurious opened #165 "Facebook Lite app not working"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-03-30 05:15] louisgtwo opened #166 "www.msn.com is blocked"
https://www.msn.com is blocked because a-msedge.net is on adservers.txt.

[2021-04-03 13:43] tg12 opened #167 "Add Bitcoin Bootstrap to the list."
Add Bitcoin Bootstrap to the list.

seed.bitcoin.sipa.be
dnsseed.bluematt.me
dnsseed.bitcoin.dashjr.org
seed.bitcoinstats.com
seed.bitcoin.jonasschnelli.ch
seed.btc.petertodd.org
seed.bitcoin.sprovoost.nl
dnsseed.emzy.de
seed.bitcoin.wiz.biz

[2021-04-17 04:16] krishne35 opened #168 "Snapchat ADS are visible again"
For some reason snapchat ads are back again

[2021-04-19 12:39] spirillen commented on #166
First of That domain should not be there, secondly, it is only a issue for you as you are blocking it as wildcard.

[code]

As you can see (for this query), then `www.msn.com` is redirected to `a-0003.a-msedge.net`

So we should probably remove `0.0.0.0 a-msedge.net`

[2021-04-19 14:30] timtucker opened #169 "Revisit gigya.com blocking rules?"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-05-13 09:54] ignoramous opened #170 "Deny app-signal, an APM for SaaS apps"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-06-12 11:47] anudeepND commented on #170
AppSignal is widely used by many developers to monitor and collect metrics related to their application. I think it is not possible to block tracking without affecting other services. I will keep this open so others can post their views

[2021-06-12 11:49] anudeepND commented on #169
@timtucker Sorry for the late reply. I will take a look at this issue later, thanks for providing the info.

[2021-06-12 11:50] anudeepND commented on #168
@krishne35  Sorry for the late reply, I don't use snapchat, can you please post the screenshots or logs if available?

[2021-06-12 11:55] anudeepND commented on #167
@tg12 These domains seems to be useful? Any reason for these domains to be blocked?
https://bitcoin.stackexchange.com/questions/14371/what-is-a-dns-seed-node-vs-a-seed-node

[2021-06-12 11:57] anudeepND commented on #166
Sorry for the late reply. Can confirm the issue, I will take a look at it later. Thanks for the info

[2021-06-12 12:00] anudeepND commented on #165
Sorry for the late reply, it will be removed in the next update

[2021-06-12 12:05] anudeepND commented on #163
Sorry for the late reply, crashlytics will not be removed from the list. Please refer https://github.com/StevenBlack/hosts/issues/1566

[2021-06-12 12:05] #163 closed

[2021-06-12 12:06] anudeepND commented on #162
Thanks for the info, I will add it in the next update

[2021-06-12 12:12] anudeepND commented on #161
Sorry for the late reply, It is from https://optinmonster.com/, by looking at the website, they have marketing tools that enables you to have dynamic content on websites, blocking `omappapi.com` will break many websites.

[2021-06-12 12:14] anudeepND commented on #160
@ignoramous Thanks for the info, it will be added in the next update

[2021-06-12 12:16] anudeepND commented on #158
This is similar to #161, Convertflow has lot of elements like forms and sticky elements on the page, blocking it will break a lot of sites

[2021-06-12 12:16] #158 closed

[2021-06-12 12:18] anudeepND commented on #156
This is interesting, I use Zoom everyday and I didn't had any problems with my Zoom meetings. Can you provide more info about your setup?

[2021-06-12 12:18] anudeepND commented on #155
Thanks for the info, these domains will be removed in the next update.

[2021-06-12 12:32] anudeepND commented on #153
I don't see that domain in the link you provided, can you provide more info about `salpato.numo.in`?

[2021-06-12 12:33] anudeepND commented on #152
Sorry for the late reply, it will be removed in the next update.

[2021-06-12 12:35] anudeepND commented on #150
Sorry for the reply, as you said, these are ad server related.  I think it is better to mention in the 'common issues' section. Thanks for the info :)

[2021-06-12 12:35] anudeepND commented on #149
Thanks for the info, it will be added in the next update.

[2021-06-12 12:36] #148 closed

[2021-06-12 12:37] anudeepND commented on #146
@notDavid Thanks for the info, I will remove it in the next update

[2021-06-12 12:39] anudeepND commented on #145
Sorry for the late reply, I have been receiving reports about `graph.facebook.com` and `graph.instagram.com`.  I can move `graph.instagram.com` to facebook.txt

[2021-06-12 12:40] anudeepND commented on #143
Thank for the info, I will add it in the next update

[2021-06-12 12:41] anudeepND commented on #142
Sorry for the late reply. Can confirm the issue, i had the same issue while tracking my order 😄 I t will be removed in the next update

[2021-06-12 15:36] 251 commented on #156
I use the Zoom 5.6.7 Linux client and your blacklist on a Pi-Hole v5.3.1.

[2021-06-12 17:03] #169 closed

[2021-06-12 17:03] #166 closed

[2021-06-12 17:03] #155 closed

[2021-06-12 17:03] #146 closed

[2021-06-12 17:04] #142 closed

[2021-06-12 17:04] #141 closed

[2021-06-12 17:04] #140 closed

[2021-06-12 17:14] #152 closed

[2021-06-12 17:40] anudeepND commented on #156
Thanks for getting back with the info, I will try to reproduce the issue

[2021-06-13 12:47] #165 closed

[2021-06-13 12:48] #129 closed

[2021-06-13 12:50] anudeepND commented on #138
https://www.simplehuman.com/ is working fine with the domain blocked, closing

[2021-06-13 12:50] #138 closed

[2021-06-13 17:16] tg12 commented on #167
It's really down to personal preference. I'd keep them blocked as I don't want Bitcoin mining on my network. Especially the initial bootstrap.

[2021-06-13 17:16] #167 closed

[2021-06-13 21:34] spirillen commented on #161
Easylist is blocking the domain globally.... https://github.com/easylist/easylist/commit/6d91cf977e5#diff-660ac35bad3047b69417687a0169bea3b9f93ff1710509c7c0fa63deea7f109eR1574

[2021-06-17 18:40] krishne35 commented on #168
Im using nextdns as dns filtering with your blacklist image:
https://ibb.co/MhWTwNd

[2021-06-27 22:21] spirillen commented on #170
I don't see why this shouldn't be blocked along with [sentry.io](https://mypdns.org/search?scope=issues&search=sentry.io)

[2021-09-08 17:53] Hh12uGMLB opened #172 "Add messiah.id to denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-09-09 21:29] Hh12uGMLB opened #173 "New Domain + IP"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-09-10 02:20] spirillen commented on #172
<details><summary>note to self (@spirillen)</summary>

https://mypdns.org/my-privacy-dns/matrix/-/issues/2729

</details>

[2021-09-10 02:30] spirillen commented on #173
The domain is rather self explaning, but what for the IP's

PS: You know you can't block ip addresses from a hosts file? but you are welcome to throw them at https://mypdns.org/my-privacy-dns/matrix/ RPZ zones love IP addresses :smirk:

[2021-09-11 12:01] PatrickDa87 commented on #112
Internet was better when 20 years ago...
I'm tired of this woke community which tries to take over every part of our lives.

@OmgImAlexis : Fork this project and work with the woke community on the allow-list repo. I hope you will find good engineers who work with you voluntarily.

[2021-09-23 06:03] Rexadev opened #174 "Remove "stat.moneycontrol.co.in" from blocklist."
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-09-23 16:56] spirillen commented on #174
why? do you think this should be removed?

[2021-09-23 18:22] ignoramous opened #175 "Deny aan.amazon"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-09-23 19:26] spirillen commented on #175
Interesting, indeed.

Could you share some logs?

[2021-09-23 19:53] ignoramous commented on #175
Note `aan.amazon.in` at the top (latest) and other blocked Amazon queries at the bottom (earliest).

I guess we should also add `unagi-eu.amazon.com`? That one slipped through whilst `unagi.amazon.com` didn't. Hm.

<details>
<summary>screenshot from in-app logs</summary>

![Screenshot_20210924-011839~3](https://user-images.githubusercontent.com/852289/134574479-d2b9aab7-f5bd-4490-b6c1-b6d37c271f52

[2021-09-23 20:25] spirillen commented on #175
Hmm I can' replicate it :unamused:

[2021-09-23 22:45] ignoramous commented on #175
Try switching region to India on your Amazon app, and then search for "doctor extra soft", tap on the top-bar that shows ads. The ad page wouldn't load if you've setup `1Hosts (Pro)`, but you'd see requests out to `aan.amazon.in`.

[2021-09-24 05:40] Rexadev commented on #174
Some things dont properly load and are not aligned

[2021-09-26 00:00] spirillen commented on #175
That can explain a lot, as I do not install spyware..

[2021-09-26 01:18] ignoramous commented on #175
Or, install spyware in your Android emulator ;)

[2021-09-27 19:32] Hh12uGMLA opened #176 "Add confection.io to denylist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-09-27 20:21] spirillen commented on #176
For stupid outdated hostsfiles you'll need `substation.confection.io` as well

[2021-09-27 20:42] spirillen commented on #175
Don't have that either as peoples using android or windows are not really serious about privacy.... so not wasting my time on them and there spyware as they cant be carrying a lot about protecting them self against it anyway.

However what I can find and confirm is:

`aan.amazon.(com|co.jp|co.uk|)` and `aan.amazon-adsystem.com`

Can't you post some logs??

[2021-09-28 01:02] ignoramous commented on #175
Sure, but: Logs from where? Logs of what?

[2021-09-28 09:04] spirillen commented on #175
The program where you found the adware domain...

[2021-10-02 16:39] alanjacobmathew opened #177 "New domain serving ad"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-10-03 21:09] arnold-friendly commented on #112
Nothing says "obnoxious", "infuriating" or "cringe inducing", like white people moralizing on behalf of anyone, about anything, because they know what's best. Personally speaking, as someone that grew up in queens, with a boricua (moreno) parent, I would never claim to speak on behalf of anyone else, because people are more complex than what I can cram into a stereotype. More importantly, most peo

[2021-10-05 14:06] alanjacobmathew commented on #177
Another URL used to serve ad
### Domain(s):
If you are submitting this issue for whitelist/blacklist issue, send me the domain(s) for whitelisting/blacklisting here. Kindly use the **Code Tag** to prevent tracking.

- Domain(s):

[code]

<!-- Example; for **Whitelisting/Blacklisting/Log** type at the beginning and ending of the list.

[2021-10-07 05:02] mineminemine opened #178 "Reddit app is broken due to domain being blocked"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-10-17 00:05] thefinalwolf opened #179 "Nuance shopping broken"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-11-08 02:53] gyCfjSnO opened #180 "Website Broken - self.events.data.microsoft.com"
### Issue(s):

- Website Broken

### Domain(s):

- Domain(s):

```self.events.data.microsoft.com```

### Your Config:

- Client: AdGuard Home
- Version: v0.107.0-b.14

### Detail:

- Your Issue Detail:

Endpoint ```self.events.data.microsoft.com``` is used to connect to the Microsoft 365 admin center's shared infrastructure, including Office in a browser. If you turn off traffic for these endpoint

[2021-11-21 07:16] blackice19 opened #181 "Website Broken-timesofindia.indiatimes.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-11-21 14:25] spirillen commented on #181
I have no issues and no calls to `ibeat.xxx`. According to your screenshot, it could  be that you have not accepted there spyware....

[code]
May |I suggest you in addition to this hosts file also install [uBlock Origin](https://github.com/gorhill/uBlock#ublock-origin) to help protecting your self?

![image](https://user-images.githubusercontent.com/44526987/142765494-979a572a-ce5f-492f-92fb-fc1dc

[2021-11-22 07:29] blackice19 commented on #181
Thank you for responding to my request.

I had tried to put in the subdomains of initial interest, but it did not go in. I did some further digging and am sharing some results I found:-

1. With the default setting of the filter, the website did not open, both with and without clicking of the consent pop-up. So i started via trial and error, to identify the subdomains it was calling, to see which

[2021-11-22 13:16] spirillen commented on #181
Just a little "setting things straight"

My heart is in the [DNS RPZ firewall](https://mypdns.org/my-privacy-dns/matrix) not in ublock, uBlock is a append to this as you can do things more fine grained there, non the less I do fully agree with you in using it as a firewall.

You can see what was blacklisted at my end here: https://mypdns.org/my-privacy-dns/matrix/-/issues/3592 This include blackli

[2021-12-02 06:24] Rexadev opened #182 "Whitelist "connect.rom.miui.com""
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-12-17 08:43] KeithSieman opened #183 "Blocking of improving.duckduckgo.com?"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2021-12-18 06:53] anudeepND commented on #183
@KeithSieman Thanks for the feedback. Let's wait for the responses from https://github.com/StevenBlack/hosts/issues/1826

[2021-12-18 06:55] anudeepND commented on #182
Can confirm the issue. Thanks for reporting @Rexadev, it will be removed in the next update

[2021-12-18 07:14] anudeepND commented on #181
@blackice19 Thanks for reporting, TOI is broken due to:
[code]

https://jsso.indiatimes.com/sso/identity/login?channel=et is a login page and should not be blocked. `geoapi.indiatimes.com` is some kind of GeoIP detection I guess. Unblocking these 3 domains will solve the issue. @blackice19 can you please confirm?

However, while investigating I was able to detect 2 new trackers:

[code]

[2021-12-18 07:17] anudeepND commented on #180
@gyCfjSnO Thanks for reporting. It will be removed in the next update

[2021-12-18 07:17] anudeepND commented on #179
@thefinalwolf Thanks for reporting. I will remove it in the next update

[2021-12-18 07:24] anudeepND commented on #178
@mineminemine That's interesting, I reinstalled reddit app on my phone and I was able to sign in again and my feed was also working fine. I could see `e.reddit.com` getting blocked in pi-hole logs while doing these actions.

[2021-12-18 07:26] anudeepND commented on #177
@alanjacobmathew Thanks for submitting these domains, I will add these to the list in the next update

[2021-12-18 07:36] anudeepND commented on #174
@Rexadev  @spirillen we had a similar issue with Moneycontrol, which was fixed in https://github.com/anudeepND/blacklist/issues/82 which I fixed by removing:
[code]

And I couldn't find `stat.moneycontrol.co.in` in my logs while browsing the website and all the features such as charts, live chat, stock prices etc are working fine. Can you please provide more information @Rexadev ?

[2021-12-18 08:48] Rexadev commented on #174
Sort feature breaks and table is mis-aligned

[2021-12-18 09:01] mineminemine commented on #178
Hello @anudeepND it's been a while since I came across this issue but the last time I did, `e.reddit.com` was indeed the issue. However, I just tried it again on my app with `e.reddit.com` un-whitelisted and it seems like its working fine now, whatever was the problem seems to have been rectified on Reddit's side. Maybe they removed whatever feature that was relying on that specific subdomain.

So

[2021-12-18 09:01] #178 closed

[2021-12-18 09:03] anudeepND commented on #174
Sorry, I couldn't reproduce the issue can you post some screenshots?

`stat.moneycontrol.co.in` is not in my logs and I could not find it in dev console

[2021-12-18 10:12] ignoramous commented on #153
IIM-B now doesn't seem to use it, but [salpato.numo.in](https://archive.md/xgedN) webpage makes it clear that they're an APM / tracker.

[2021-12-18 18:15] #182 closed

[2021-12-18 18:15] #180 closed

[2021-12-18 18:15] #179 closed

[2021-12-19 07:58] blackice19 commented on #181
---> For the jsso subdomains, I am not sure. It could well be the case. I do not log in to comment. So i have kept them blocked in my filter list and site loads. If this is the case, then it needs to be unblocked for users who log in. A note would be fine to make them aware, in my opinion.

However, geoapi.indiatimes.com is a show stopper. If blocked, either at firewall level or at the browser lev

[2021-12-23 06:26] anudeepND commented on #181
Fixed in 56bee9d7ca1fdc3e01078b00ea74945595967486

[2021-12-23 06:26] #181 closed

[2021-12-31 09:53] #177 closed

[2022-01-21 15:36] dubesor opened #184 "iplocation.net breakage"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-02-02 06:23] dvpetta opened #185 "How do I install this blacklist?"
Sorry if this is not meant to be here but I'm unsure of how to use this blacklist with my pihole.

I recently had to reset my pihole and now it doesn't seem to be working and there are no blacklists loaded.

Am I able to load this into my pihole?  I don't see any instructions like what I saw in your whitelist repo.

Thanks,

Daniel

[2022-02-03 17:34] anudeepND commented on #185
Hi Daniel, it's pretty simple, first copy this link - `https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt` and follow the screen recorder.

https://user-images.githubusercontent.com/26179946/152397070-cdd1ce4b-ac39-45df-82c6-912e7da82dbf.mp4

[2022-02-03 17:52] anudeepND commented on #184
@dubesor Thanks for reporting

[2022-02-03 17:52] #184 closed

[2022-02-04 05:15] dvpetta commented on #185
Thank you so much!  I had added the list but didn't know about that update step!

[2022-02-04 05:15] #185 closed

[2022-02-16 09:59] MySoul182 opened #187 "阻止 app.market.xiaomi.com？"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-02-23 06:30] agneevX opened #189 "Unblock unacademy domain"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-03-02 12:22] RicoHeat opened #191 "Adblock Syntax"
@anudeepND
First I would like to say that I really love using your Anudeep Blacklist for DNS purposes.. My issue is really not an issue.. I just would like to kindly request for a version of your list using Adblock Syntax if possible.. I would greatly appreciate it.. Other than that.. I just would like to say THANKS for your quality work.. Have a great day!! 👍

[2022-03-07 21:08] carlhancock opened #192 "Remove Gravity.com From Blacklist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Please remove the Gravity.com domain name from the adservers.txt black list.  We recently acquired this domain name and while many years ago it was used for advertising

[2022-03-18 16:49] anudeepND commented on #192
@carlhancock Thanks for reporting. The list does not have `gravity.com` but there was another domain `secure-api.gravity.com` which is now removed.

[2022-03-18 16:49] #192 closed

[2022-03-18 16:50] anudeepND commented on #189
@agneevX Thanks for your valuable feedback, the domain is now removed from the list

[2022-03-18 16:50] #189 closed

[2022-03-18 16:51] anudeepND commented on #187
@MySoul182 Thanks for reporting, I have removed `app.market.xiaomi.com` along with other xiaomi domains

[2022-03-18 16:51] #187 closed

[2022-03-18 17:14] anudeepND commented on #191
@RicoHeat I use this list in Ublock Origin without converting it to adblock syntax, can you try adding the URL to your extension?

[2022-03-18 17:31] #183 closed

[2022-03-18 18:05] anudeepND commented on #170
Appsignal also offers uptime monitor etc. so blocking Appsignal will cause more issue I guess. Maybe looking into the privacy policy of each company can help

[2022-03-18 18:05] #170 closed

[2022-03-18 18:46] BigslimVdub opened #193 "Facebook unable to properly load with blacklist"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-03-18 19:03] anudeepND commented on #193
Hello @BigslimVdub, facebook list is not for everybody. If you or someone else at your home uses Facebook or Instagram, don't use facebook list. Use only https://hosts.anudeep.me/mirror/adservers.txt

[2022-03-19 06:37] #156 closed

[2022-03-20 07:03] #193 closed

[2022-03-20 07:10] #145 closed

[2022-03-20 07:10] #174 closed

[2022-03-20 12:11] BigslimVdub commented on #193
Ok so the list is for totally disabling Facebook, not to just block ads or tracking like typical block lists.

[2022-03-20 13:53] anudeepND commented on #193
Yes, ads on Facebook and Instagram cannot be blocked because legit contents like posts, pictures and videos and ads will be delivered from the same domain

[2022-03-22 15:33] RicoHeat commented on #191
@anudeepND  OK.. No problem.

[2022-03-22 15:34] #191 closed

[2022-03-24 18:01] #150 closed

[2022-03-25 17:15] anudeepND commented on #143
Since posthog can be self hosted (just like Matomo analytics), blocking posthog.com does not make any sense

[2022-03-25 17:15] #143 closed

[2022-03-25 17:16] anudeepND commented on #173
@Hh12uGMLB Thanks for reporting. I have updated the list

[2022-03-25 17:16] #173 closed

[2022-03-25 17:17] anudeepND commented on #172
@Hh12uGMLB Sorry for the delay. The list has been updated

[2022-03-25 17:17] #172 closed

[2022-03-25 17:17] #162 closed

[2022-03-25 17:17] #161 closed

[2022-03-25 17:18] #160 closed

[2022-03-25 17:18] #153 closed

[2022-03-25 17:18] #149 closed

[2022-03-25 17:45] spirillen commented on #143
Well that is to debate, but I blacklist it to avoid other from bad ideas....

[2022-03-26 03:50] ignoramous commented on #143
[Google Tag Manager](https://chromium.woolyss.com/f/HTML-Google-Tag-Manager-the-new-anti-adblock-weapon.html) can also be self hosted...

[2022-03-26 17:43] anudeepND commented on #143
No, you can't selfhost GTM. However you can deliver the GTM code from a different domain or a subdomain which is different from self hosting

[2022-04-18 02:04] Marcio2536 opened #194 "Add adv.lihkg.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-05-01 02:33] devingoodman opened #196 "sentry.infra.alto.com"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-05-13 09:56] agneevX opened #197 "Voot.com user login broken"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-05-16 02:50] rube200 opened #198 "Xiaomi sync blocked"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-05-23 15:04] agneevX opened #199 "Conde Nast main site blocked"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-06-01 10:38] ShiGhost opened #200 "The black sheet has repetitions."
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-06-05 00:32] Zoka93 opened #201 "Buffer App: Social Media Tools Blocked"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">

</div>

### Issue(s):

- [x] Whitelist
- [ ] Blacklist
- [x] App Broken
- [ ] Website Broken
- [ ] Request
- [ ] Other Issue

<hr>

### Domain(s):

- Domain(s):

[code]

[2022-06-21 03:01] rube200 opened #204 "Xiaomi phone activation"
<div align="center">
  <img width="280" height="70" src="https://raw.githubusercontent.com/anudeepND/blacklist/master/images/blacklist-logo.png" alt="logo" />
</div>

<h2 align="center">Issue Submit Form</h2>
<div align="center">
  Provide the following info properly, which will help me to resolve your issue quickly.
</div>

### Issue(s):
Type `x` in between `[ ]` and make sure there isn't any spa

[2022-07-02 06:20] abhishekluv opened #205 "Samsung TV doesn't work anymore with your blocklist"
Hello Anudeep,

Awesome list. Been using for years.

But, now Samsung TV doesn't work anymore with your blocklist. In pfSense+, I had to ByPass DNSBL for my Samsung TV and then only Youtube and Amazon Prime Video started to work on my TV.

[2022-07-03 17:03] #205 closed

[2022-08-02 08:14] #194 closed

[2022-08-02 09:23] spirillen commented on #194
Sorry, but I don't see which site you referrers to here, could you give a example, and post it to https://mypdns.org/my-privacy-dns/matrix then I take a second look at it for you

[2022-08-23 12:43] rilysh opened #206 "Is it still maintained?"
Last commit was 5 months ago, however this is pretty old for a ad blocker list, will there be any updates in future?

[2022-08-31 13:27] anudeepND commented on #206
There will be updates in the future. I have a huge list of domains which needs to be added to the list.

[2022-08-31 13:27] #206 closed

[2022-08-31 18:21] rilysh commented on #206
Nice go hear!